.ys-listview {
	display: block;
	position: absolute;
	margin-right: 3%;
	margin-top: 15px;
	width: 97%;
	max-height: 70%;
	overflow: hidden;
	overflow-y: auto;

	padding-left: 15px;
	padding-right: 15px;
}
/*.ys-listview .ellipsis {
	text-overflow: ellipsis;
}
*/
/*.ys-listview table.table {
	max-width: 100%;
	table-layout: fixed;
}
*/

.ys-listview table.table thead th {
	white-space: nowrap;
}

.ys-listview .ellipsis {
	/*min-width:15px;*/
	max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
}

.ys-listview table.table tr td.nowrap {
	white-space: nowrap;
}

.ys-listview table.table tr td.ellipsis {
	max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
}

.ys-listview table.table thead th,
.ys-listview table.table tr td {
	font-size: 13px;
}

.ys-listview table.table tbody {
	overflow-y: auto;
}

.ys-listview table.table td {
	vertical-align: middle;
}

/*.ys-listview table.table tr td:nth-child(n+3) {
	min-width:5px;
	max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
}
*//*.ys-listview table.table tr td:nth-child(1) {
	width: 15px;
	min-width:5px;
}
*//*.page-host>section {
	width: 100%;
}*/

.nav-pills>.alert {
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 20px;
}

/*Spacing for nav buttons on list views*/
div.page-host > section > div.nav.nav-pills {
	margin-top: 20px;
}

.ys-listview *.ws-tooltip span.ws-tooltip {
	font-size: 12px;
    padding: 5px;
    margin-top:-35px;
    margin-left:-35px;
}
ys-listview *.ws-tooltip:hover span.ws-tooltip{
    display:inline; position:absolute; z-index:1050; color: rgb(255,255,255);
    /*border:2px solid rgb(150,150,150); */
    border: transparent;
    background:rgb(0,0,0);}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
