/*body,html,.container-fluid,.main-display-area,.main-row,.col {
   height:100%;
}


iframe {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	margin-left:-15px;
	margin-right:-15px;
	border: none;
}


.col {
	margin-bottom:50px;
}

@media (min-width: @screen-sm-min) {
	.col {
		margin-bottom:30px;
	}
}

@media (min-width: @screen-md-min) {
	.col {
		margin-bottom:0px;
	}
}

@media (min-width: @screen-lg-min) {
	.col {
		margin-bottom:0px;
	}
}


.full-height {height:100%;}
.full-width {width:100%;}

.topitem {
	border-top: 1px solid #eeeeee;
	margin-top: 5px;
}

.nav-stacked .nav-stacked {margin-left:15px;}

*/

body {
	margin: 0;
	padding: 0;
}

*.navbar {
	border: none;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);	
}

/**.nav>li>a {
	padding-left: 5px;
	padding-right: 5px;
}
*/
*.ws-topbar {
/*	position: fixed;
	height: 64px;
	min-height: 64px;
	width: 100%;
	z-index: 1000;
*/}

*.ws-sidebar, *.page-host {
	top:50px;
/*	padding-top: 86px;
	padding-left: 64px;
*/}

*.page-host {
	left: 64px;
/*	padding-top: 86px;
	padding-left: 64px;
*/}

*.ws-sidebar {
	position: fixed;
	display: table;
	/*margin-left: -64px;*/
	/*margin-top: 90px;*/
	padding: 5px;
	min-width: 64px;
	width: 64px;
	height: 100%;
	/*background-color: rgb(0,0,0);*/
	z-index: 1000;
	text-align: center;
	padding-top: 73px;
}

*.ws-sidebar ul::before,
*.ws-sidebar ul::after {
	content: " ";
	display: table;
	clear: both;
}

*.ws-sidebar ul {
	float: left;
	margin: 0;
	list-style: outside none none;
	padding-left: 0;
}

*.ws-sidebar * {
	font-size: 18px;
}

*.ws-sidebar li {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	text-align: center;
}

*.ws-sidebar li > a{
	position: relative;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	text-decoration: none;
}
*.ws-sidebar li:hover {
	background: transparent; 
}
*.ws-sidebar li > a:hover {
/*	background: transparent; 
	border: 2px solid rgba(200,200,200,1);
*/}

/**.ws-sidebar ul.nav {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}
*/

*.breadcrumb, *.ws-today {
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
}

*.breadcrumb {
	display: inline-block;
	margin-bottom: 0;
	background: transparent;
}

*.breadcrumb, *.breadcrumb a {
	color: rgb(255,255,255);
}

*.ws-today {
}

/* ws-tooltip */
/* initial version was only for "a" elements: a.ws-tooltip*/
.ws-tooltip {outline:none; }
.ws-tooltip strong {line-height:30px;}
.ws-tooltip:hover {text-decoration:none;} 
.ws-tooltip span.ws-tooltip {
	font-size: 12px;
    display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:auto; /*line-height:16px;*/
    padding: 5px;
    white-space: nowrap;
}
.ws-tooltip:hover span.ws-tooltip{
    display:inline; position:absolute; z-index:1050; color: rgb(255,255,255);
    border:2px solid rgb(150,150,150); background:rgb(0,0,0);}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras*/
.ws-tooltip span.ws-tooltip
{
    border-radius:4px;
    /*box-shadow: 5px 5px 8px #CCC;*/
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);	
}

.user-ico>a>.fa {
	display: inline-block;
	line-height: 20px;
	width: 20px;
	background-color: black;
	color: white;
	text-align: center;
	border-radius:10px;
}
.user-ico {
	padding-right: 15px;
	padding-left: 15px;
}

/* User photo on the top menu: */
.user-photo-small {
	width: 28px;
	height: auto;
	border-radius: 50%;
	border: 2px solid rgba(200,200,200,0.9);
	margin-top: 0;
	margin-bottom: 0;
}

.dropdown.user-menu a.dropdown-toggle {
	padding-top: 10px;
	padding-bottom: 9px;
	margin-bottom: 0;
}