/* schedule-timetable.css */

/*These rows are borrowed from timetable widget: 
*/
.timetable {
    box-sizing: border-box;
    padding-left: 15px;
}

.timetable .record-interior a {
    color: #999;
}
.timetable .record-interior:hover a {
    color: #333;
}

.timetable::after {
    clear: both;
    content: "";
    display: table
}

.timetable *,
.timetable *:before,
.timetable *:after {
    box-sizing: inherit
}

.timetable ul {
    margin: 0;
    padding: 0;
    /*list-style-type: none*/
}

.timetable li.tree-node,
.timetable li.tree-item {
    /*margin-left: 10px;*/
    padding-left: 15px;
    cursor: default;
}

.timetable aside,
.timetable section {
    float: left
}

.timetable aside {
    width: 30%;
    padding: 0!important;
    /*margin-top: 45px;*/
    border-right: 5px solid transparent
}

.timetable aside .schedule-info {
    line-height: 45px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: table;
}
.timetable aside .schedule-info > * {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.timetable aside li {
    /*padding: 0 15px;*/
    /*background-color: #EFEFEF;*/
    vertical-align: baseline;
    /*line-height: 45px*/
}

/*.timetable aside li:not(:last-of-type),*/
.timetable aside  .record-interior {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    /*box-sizing: border-box;*/
}

.timetable aside .record {
    /*display: table;*/
}

.timetable aside .record-interior > div {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
}

.timetable aside .record > .row-heading {
    /*display: inline-block;*/

    /*line-height: 45px;*/

    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.timetable ul {
    list-style-type: none;
    margin: 0
}

/*.timetable aside li,*/
.timetable time li {
    min-height: 43px;
}

.timetable section {
    width: 70%;
    padding: 0!important;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch
}

.timetable section time {
    white-space: nowrap;
    display: inline-block
}

.timetable section header {
    height: 45px;
    transform-style: preserve-3d;
    font-size: 0
}

.timetable section header::after {
    clear: both;
    content: "";
    display: table
}

.timetable section header li {
    display: inline-block;
    font-size: 1rem;
    overflow: visible;
    width: 0;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    position: relative
}

.timetable section header li:not(:last-of-type) {
    width: 96px
}

.timetable section header li .time-label {
    display: block;
    position: absolute;
    left: 0
}

.timetable section header li:not(:first-of-type) .time-label {
    transform: translateX(-50%)
}

.timetable section header li:last-of-type .time-label {
    transform: translateX(-100%)
}

@media only screen and (max-width:960px) {
    .timetable aside {
        width: 40%
    }
    .timetable section {
        width: 60%
    }
}

.timetable ul.room-timeline {
    border-left: none;
    position: relative;
    overflow: hidden
}

.timetable ul.room-timeline li {
    position: relative;
    background-color: #F4F4F4
}

.timetable ul.room-timeline li:nth-of-type(odd) {
    background-color: #FDFDFD
}



.timetable ul.room-treeview li:first-of-type,
.timetable ul.room-timeline li:first-of-type {
    border-top: 1px solid #E5E5E5
}

/*.timetable ul.room-treeview li:last-of-type,
.timetable ul.room-timeline li:last-of-type {
    border-bottom: 1px solid #E5E5E5
}

.timetable ul.room-treeview li:not(:last-of-type),
.timetable ul.room-timeline li:not(:last-of-type) {
    border-bottom: none
}
*/
.timetable ul.room-timeline li:first-child .time-entry {
    height: 44px
}

.timetable ul.room-timeline li:after,
.timetable ul.room-timeline li:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

.timetable ul.room-timeline li:before {
    background-image: linear-gradient(to right, #E5E5E5 1px, transparent 1px);
    background-size: 24px auto
}

.timetable ul.room-timeline li:after {
    background-image: linear-gradient(to right, #E5E5E5, #E5E5E5 1px, #F4F4F4 1px, #F4F4F4 2px, #E5E5E5 2px, #E5E5E5 3px, transparent 3px, transparent);
    background-size: 96px auto;
    background-position: -2px 0
}

.timetable .time-entry {
    background-color: #EC6A5E;
    transition: 200ms background-color;
    height: 43px;
    display: block;

    position: relative;
    /*overflow-x: hidden;*/
    /*float: left;*/

    z-index: 2;
    padding: 0 10px;
    white-space: normal;
    /*overflow: hidden;*/
    color: #fff;
    border-bottom: 1px solid #e32c1b;
    /*margin-bottom: 1px;*/
    transform-style: preserve-3d
}

.timetable .duration-bar,
.timetable .remainder-bar,
.timetable .overrun-bar
{
    position: absolute;
    z-index: 10;
    top:0;
    height: 10px;
    background-image: none; 
    box-sizing: border-box;
}
.timetable .duration-bar {
    background-color: #555;
}
.timetable .remainder-bar {
    background-color: #1fa;
}
.timetable .overrun-bar {
    background-color: #f1a;
}

.timetable .time-entry + ul {
    /*margin-top: 45px;*/
}

.timetable .time-entry small {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block
}

.timetable .time-entry:hover {
    background-color: #e74030
}

/* end of borrowed rows*/

/*Schedule timetable fixes*/
.timetable {
    margin-top: 15px;
}

.timetable .time-entry {
	height: 45px;
	/*min-height: 45px;*/
	box-sizing: border-box;
	/*display: table;*/
	padding-left: 0;
	padding-right: 0;
}

.time-entry > div {
	display: table-cell;
	vertical-align: middle;
	/*height: 45px;*/
	/*line-height: 45px;*/
}
.time-entry > .label,
.time-entry > .whitespace {
	padding-left: 10px;
	padding-right: 10px;
    text-align: right;
	text-overflow: ellipsis;
	overflow: hidden;
    width: 100%;
}
.time-entry > .resize-handle {
	cursor: ew-resize;
	min-width: 4px;
	width: 4px;
	background-color: rgba(0,0,0,0.3);
}
.time-entry > .resize-handle.ui-resizable-e {
    right: -2px;
}
.time-entry > .resize-handle.ui-resizable-w {
    left: -2px;
}

.ui-sortable .sort-handle {
	cursor: move;
}

.timetable aside .record {
    display: block;
}

.timetable aside .tree-node ul {
    /*line-height: 45px;*/
}

.timetable aside ul.hide-children {
    display: none;
    transition: 1s height;
}

.timetable aside .record-interior {
    /*border: 1px solid #000000;*/
}

.timetable aside .record-interior {
    display: table;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    /*line-height: 44px;*/
    height: 45px;
    box-sizing: border-box;
}

.timetable aside .record-interior,
.timetable aside .record-interior .dropdown button.toggle,
.timetable aside .record-interior .dropdown-menu li,
/*.timetable aside .record-interior li,
.timetable aside .record-interior a,
.timetable aside .record-interior i,
.timetable aside .record-interior span,
*/.timetable aside .schedule-info {
    font-size: 11px;
}

.timetable aside .record-interior .dropdown-menu li label{
    font-weight: normal;
    margin-bottom: 0;
}
.timetable aside .record-interior .dropdown-menu li input{
    margin-top: 0;
    vertical-align: middle;
}

.timetable aside .record>.duration {
    /*line-height: 11px;*/
    white-space: nowrap;
    text-align: right;
    /*vertical-align: baseline;*/
    width: 5%;
}

/*1st cell in the programme heading*/
.timetable aside .record-interior >.sort-handle {
    width: 3%;
    min-width: 3%;
    max-width: 3%;
    /*background-color: rgba(0,0,0,0.2); */
    background-color: rgba(51, 101, 164, 0.4);
    vertical-align: middle;
}
.timetable aside .record-interior >.caption {
    width: 75%;
    max-width: 75%;
    padding-left: 15px;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
}
.timetable aside .record-interior .inline-edit-value {
    /*max-width: 80%;*/
    display: inline-block;
    vertical-align: middle;
    /*width: 7em;*/
    max-width: 7em;
    /*white-space: nowrap;*/
    overflow: hidden;
    /*text-overflow: ellipsis;*/

/*  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
*/}

/*2nd cell in the programme heading*/
.timetable aside .record-interior >.buttons {
    white-space: nowrap;
    text-align: right;
    width: 10%;
    padding-right: 10px;
    vertical-align: middle;
}

.timetable aside .record-interior >.timings {
    white-space: nowrap;
    text-align: right;
    width: 10%;
    padding-right: 10px;
    vertical-align: middle;
}

.timetable aside .buttons button.btn-default {
    background: transparent;
}


/* indicators group */
.timetable .room-timeline .chart-item-state-info {
    /*float: left;*/
    position: absolute;
    top: 0;
    /*left: 0%;*/
    right: -100px;
    padding-left: 5px;
    padding-top: 10px;
    /*display: inline-block;*/
    height: 45px;
    width: 100px;
    /*overflow: hidden;*/
    background: transparent;
    text-align: left;
    z-index: 100;
}
.timetable .room-timeline .chart-item-state-info > .fa {
    /*white-space: nowrap;*/
    color: #333;
}

.timetable .badge.ws-tooltip {
    cursor: pointer;
}

.timetable .ws-tooltip:hover span.ws-tooltip {
    margin-top: 0px;
    margin-left: 10px;
    font-weight: normal;
}
