/*schedule-assistant.css*/

.sequencer-script-item {
	/*width: 0;*/
	/*display: table-row;*/
	position: relative;
	float: left;
	border: 2px solid #aaa;
	border-radius: 5px;
	border-collapse: collapse;
	margin-bottom: 0.3em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-right: 0.5em;
	clear:both;
	box-shadow:
}
.sequencer-script-item::before, .sequencer-script-item::after {
	clear: both;
}

.sequencer-script-item > div {
	display: table-cell;
	height: 100%;
	padding-left: 1em;
	vertical-align: middle;
}

.sequencer-script-item >div.sort-handle {
	display: table-cell;
	width: 1em;
	height: 100%;
	text-align: center;
	/*height: 100%;*/
}

.sequencer-script-item hr {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.sequencer-script-item input {
/*	width: 5em;
	max-width: 5em;
*/}