/*search.css*/
.search-form input[type=search] {
	max-width: 30px;
	width: 30px;
}
.search-form input[type=search] + i.fa{
	display: inherit;
}
.search-form input[type=search]:focus {
	max-width: 200px;
	width: 200px;
}
.search-form input[type=search]:focus+i.fa {
	/*display: none;*/
}

.search-form .input-group-addon.right{
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 6px;
	border-left:none;
}

/*.search-form input[type=search]:after {
	content: "";
	color: red;
}*/