body, *.page-host {
	font-family: "Helvetica Neue", Helvetica, Arial
}

*.page-host > section > h2 {
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 0;
	padding: 20px;
	margin-bottom: 30px;

/*	color: rgb(255,255,255);
	background-color: #57637d;
*/
	/*border-left: 1px solid #999999;*/
}

*.table > thead > tr > th {
	border-bottom-width: 1px;
}

*.table > tbody > tr > td {
	border-top-width: 0;
}

/* "Color theme for navbar and buttons" */
.navbar {
	/*background-color: #00D5C3;*/
	/*background-color: rgb(50,159,207);*/
	background-color: rgba(0,0,0,0.9);
	/*background-color: #57637d;*/
	border-bottom: 2px solid rgb(114,159,255);
}

.navbar-brand.ys-top-logo {
	/*margin-top: -14px; */
	/*margin-left: -10px;*/
	/*padding-top: -10px;*/
	margin-right: 10px;
	/*border-bottom: 12px solid rgb(114,159,255);*/
	/*border-bottom: 12px solid rgb(52,101,164);*/
/*	margin-top: 5px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
*/}
.navbar-brand.ys-top-logo img {
	border-bottom: 12px solid rgb(114,159,255);
	/*border-bottom: 12px solid rgb(52,101,164);*/
	margin-top: -6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.ws-sidebar li.active a,
.ws-sidebar li.active a:focus,
.nav.navbar-nav li.active a,
.nav.navbar-nav li.active a:active,
.nav.navbar-nav li.active a:focus {
	/*background-color: #00D5C3;*/
	/*background-color: rgb(114,159,255)*/
	background-color: rgb(52,101,164);
	outline: none;
}

.ws-sidebar li a {
	color: rgba(255,255,255,0.9);
}
.ws-sidebar li.active a {
	color: rgba(255,255,255,0.9);
}
.ws-sidebar li.active:hover a {
	background-color: rgb(52,101,164);
}

.navbar-default .navbar-nav li.active a:hover {
	background-color: rgb(52,101,164);
	cursor: default;
}

/*.navbar-default .navbar-brand,*/
.navbar-default .navbar-nav > li > a {
	color: rgba(255,255,255, 0.8);
	box-sizing: border-box;
	padding-bottom: 11px;

	border-bottom: 4px solid transparent;
}
.navbar-default .navbar-nav > li > a > i.fa{
	color: rgb(114,159,255);
}
.navbar-default .navbar-nav > li.active > a > i.fa{
	color: rgba(255,255,255, 0.6);
}
.navbar-default .navbar-nav > li.active > a {
	/*background-color: #57637d;*/
	cursor: default;
}
.navbar-default .navbar-nav > li.active:hover > a {
	/*background-color: inherit;*/
}

.navbar-default .navbar-nav > li:hover > a {
	border-bottom: 4px solid rgb(114,159,255);
}

.ws-topbar, .ws-sidebar, .ws-sidebar a {
	color: rgba(0,0,0,0.9);
	/*background-color: #57637d;*/
	background-color: rgb(220,220,220);
	/*background-color: #2C334D;*/
}

.ws-sidebar {
	width: 80px;
	background-color: transparent;
	background-image: url(../img/rst-grad-grey.png);
	background-repeat: repeat-y;
	background-position: -40px -40px;
	background-origin: -30px 0;
}


.ws-sidebar li > a {
	background: rgba(0,0,0,0.5);
}
/*.navbar-default .navbar-nav > li > a:hover,*/
/*.navbar-brand a:hover,*/
.ws-sidebar li > a:hover {
	/*color: rgba(255,255,255,1);*/
	text-decoration: none;
	background: rgba(0,0,0,0.7);
	/*background: transparent; */
	/*border: 2px solid rgba(200,200,200,1);*/
}

*.ws-sidebar li > a{
	/*border-radius: 50%;*/
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	/*border: 2px solid rgba(200,200,200,0.8);*/
}

.ws-tooltip:hover span.ws-tooltip {
	color: rgba(250,250,250, 0.8);
    border:2px solid rgb(150,150,150); 
    background:rgba(0,0,0, 0.8);
}

/**/
.alert-info {
	background-color: rgba(100,​ 143,​ 227, 0.7);
	/*color: #ffffff;*/
}
.btn-default {
	background-color: #ffc961;
	/*color: #ffffff;*/
}
.btn-default:hover {
	background-color: #ffb832;
	/*color: #ffffff;*/
}
*[disabled].btn-default {
	background-color: #cecece;
}
*[disabled].btn-default:hover {
	background-color: #cecece;
}

/*listview related:*/

.ys-listview table thead th {
	color: rgba(114,159,207,1);
}

div.page-host > section > div.nav.nav-pills {
	/*margin-top: 0px;*/
	/*border-top: 2px solid #000000;*/
	padding-left: 15px;
}

div.page-host > section > div.nav.nav-pills button.btn {
	cursor: pointer;
/*	margin-left: -1px;
	margin-right: -1px;
*/	border-width: 0;
/*	border-top-left-radius: 0;
	border-top-right-radius: 0;
*/	font-size: 14px;
	background-color: rgb(50,101,164);
}
/*div.page-host > section > div.nav.nav-pills button.btn:nth-child(1) {
	border-radius: 50%;
}
div.page-host > section > div.nav.nav-pills button.btn:nth-child(N) {
	border-radius: 50%;
}
*/div.page-host > section > div.nav.nav-pills button.btn.btn-default {
	color: rgba(255,255,255,0.85);
}
div.page-host > section > div.nav.nav-pills button.btn.btn-default:hover {
	color: rgba(255,255,255,1);
}
div.page-host > section > div.nav.nav-pills button[disabled].btn.btn-default {
	color: rgba(255,255,255,0.6);
	background-color: #000000;
	cursor: default;
}

.ys-listview table td .btn.btn-default.btn-xs {
	background: transparent;
}

.user-photo {
	width: 120px;
	height: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*schedule*/
.timetable .time-entry {
	background-color: rgba(51,101,164, 0.6);
}

.timetable .time-entry:hover {
	background-color: rgba(51,101,164, 0.4);
}

.timetable aside .schedule-info {
	background-color: rgba(50, 101, 164, 0.75)
}
.timetable time header {
	background-color: rgba(50, 101, 164, 0.3)
}
.time-label {
	margin-left: 5px;
}

.timetable aside .schedule-info {
    background-color:  rgba(51,​ 101,​ 164,​ 0.9);
    color: #fff;
}

.timetable .record-interior {
    /*background-color: rgba(100,100,100,0.2)*/
    background-color: rgba(51, 101, 164, 0.2);
}
.timetable .record-interior:hover {
    /*background-color: rgba(100,100,100,0.25)*/
    background-color: rgba(51, 101, 164, 0.25);
}
.timetable .record-interior {
    /*background-color: rgba(100,100,100,0.1);*/
    background-color: rgba(51, 101, 164, 0.1);
}
.timetable .record-interior:hover {
    /*background-color: rgba(100,100,100,0.15)*/
    background-color: rgba(51, 101, 164, 0.15);
}

.timetable aside .record-interior .dropdown-menu li a {
	background-color: #fff;
}
.timetable aside .record-interior .dropdown-menu li.disabled a {
	color: #555;
}
.timetable aside .record-interior .dropdown-menu li a:hover {
	background-color: #ccc;
}
/* date input (calendar)*/

.calendar th, 
.calendar td {
	width: 20px;
	height: 20px;
	padding: 4px 5px; 
}

/* states */
.timetable .chart-item-duration-locked .record-interior {

}
.timetable .chart-item-offset-locked .record-interior {
}
.timetable .chart-item-offset-locked.time-entry {
	border-left: 3px solid #000;
}
.timetable .chart-item-clone .record-interior,
.timetable .chart-item-clone.time-entry {
    background-color: rgba(250, 210, 62, 1);
}
.timetable .chart-item-recursive .record-interior,
.timetable .chart-item-recursive.time-entry {
    background-color: rgba(250, 210, 62, 1);
}
.timetable .chart-item-sortable .record-interior,
.timetable .chart-item-sortable.time-entry {

}
.timetable .chart-item-stream .record-interior,
.timetable .chart-item-stream.time-entry {
	background-color: #aaa;
}

/* Schedule chart items */
.timetable .duration-bar {
    background-color: #555;
}
.timetable .remainder-bar {
    background-color: #ee0;
}
.timetable .overrun-bar {
    background-color: #f55;
}

