<section>
  <div data-part="header" data-bind="html: getHeaderText()"></div>
  <div id="map-view" style="position: absolute;top:0;left:0;width: 100%;height: 100%"></div>
</section>

<!--     <div class="accordion" data-bind="foreach: { data: settings.items, afterRender: afterRenderItem }">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a data-part="headerContainer" class="accordion-toggle">
            <div data-part="header" data-bind="html: $parent.getHeaderText($data)"></div>
          </a>
        </div>
        <div class="accordion-body collapse in">
          <div class="accordion-inner" data-part="itemContainer" >
            <div data-part="item" data-bind="compose: $data"></div>
          </div>
        </div>
      </div>
    </div> -->