<!doctype html>
<html>
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
			<title>yScreens</title>

			<link href="css/normalize.css" rel="stylesheet"/>
			<!-- Bootstrap -->
			<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

			<link href="css/main.css" rel="stylesheet"/>

			<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
			<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
			<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
				<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
	</head>
	<body>
		<nav id="top-nav" class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-toggle"></span>
				</button>
				<a class="navbar-brand" href="#">Control Panel</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
				
				<li class="dropdown">
					<a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
					<i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
					<ul id="g-account-menu" class="dropdown-menu" role="menu">
					<li><a href="#">My Profile</a></li>
					<li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
					</ul>
				</li>
				</ul>
			</div>
			</div><!-- /container -->
		</nav>

		<div id='myModal' style="display:none;">
			tttt
		</div>
		<!-- Main -->
		<div class="container-fluid">
			<div class="row main-row">
				<div class="col-sm-2 col">
					<!-- menu, left-sided-->
					<ul class="nav nav-stacked" id="sidebar">
						<li class="topitem">
							<a class="i-lnk" target="i-container" href="sa-home/view.html">
								<i class="glyphicon glyphicon-home"></i> My Home <span class="caret"></span>
							</a>
							<ul class="nav nav-stacked">
								<li>
									<a class="i-lnk" target="i-container" href="sa-account/view.html"><i class="glyphicon glyphicon-user"></i> Account</a>
								</li>
								<li>
									<a class="i-lnk" target="i-container" href="sa-storage/view.html"><i class="glyphicon glyphicon-hdd"></i> Storage</a>
								</li>
								<li>
									<a class="i-lnk" target="i-container" href="sa-billing/view.html"><i class="glyphicon glyphicon-credit-card"></i> Billing</a>
								</li>
								<li>
									<a class="i-lnk" target="i-container" href="sa-users/view.html"><i class="glyphicon glyphicon-pawn"></i> Users</a>
								</li>
								<li>
									<a class="i-lnk" target="i-container" href="sa-logout/view.html"><i class="glyphicon glyphicon-off"></i> Logout</a>
								</li>
							</ul>
						</li>
						<li class="topitem" ng-if="!isPublisher()">
							<a class="i-lnk" target="i-container" href="sa-clients/view.html">
								<i class="glyphicon glyphicon-blackboard"></i> My Clients <span class="caret"></span>
							</a>
							<ul class="nav nav-stacked">
								<li>
									<a class="i-lnk" target="i-container" href="sa-addclient/view.html"><i class="glyphicon glyphicon-plus"></i> Add Client</a>
								</li>
							</ul>
						</li>
						<li class="topitem" ng-if="!isTechnician()">
							<a class="i-lnk" target="i-container" href="sa-playlists/view.html">
								<i class="glyphicon glyphicon-film"></i> My Playlists <span class="caret"></span>
							</a>
							<ul class="nav nav-stacked">
								<li><a class="i-lnk" target="i-container" href="sa-composer/composer.html"><i class="glyphicon glyphicon-file"></i> New Playlist</a></li>
								<li><a class="i-lnk" target="i-container" href="sa-assets/view.html"><i class="glyphicon glyphicon-picture"></i> Assets</a></li>
							</ul>
						</li>
						<li class="topitem" ng-if="!isTechnician()">
							<a class="i-lnk" target="i-container" href="sa-channels/view.html">
								<i class="glyphicon glyphicon-send"></i> My Channels <span class="caret"></span>
							</a>
							<ul class="nav nav-stacked">
								<li><a class="i-lnk" target="i-container" href="sa-addchannel/view.html"><i class="glyphicon glyphicon-file"></i> Add Channel</a></li>
							</ul>
						</li>
					</ul><!-- menu -->
					<hr>
				</div>
				<div class="col-sm-10 col">
					<iframe 
						src="_scaffold/view.html" 
						id="i-container" 
						name="i-container" 
						frameborder="0" 
						seamless="seamless"
						sandbox="allow-same-origin allow-forms allow-scripts">
					</iframe>
				</div>
			</div> <!-- row -->
		</div>

		<script type="text/javascript" data-main="js/init.js" src="js/lib/require.js"></script>

		
		<!--
		<script type="text/javascript" src="js/lib/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jsapp/main.js"></script>
	-->
	</body>
</html>