<!--dialog-layout-->
<div class="modal-content autoclose">
	<div class="modal-header">
		<button type="button" class="close metaclass-dialog-close" data-dismiss="modal" aria-label="Close"
			data-bind="click: Cancel">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
		<!-- TITLE -->
			Split time interval
		<!-- TITLE -->
		</h4>
	</div>
	<form class="form form-horizontal" action="javascript:void(0)">
		<div class="modal-body container">

		<!-- BODY -->

			<div class="row form-group">
				<label class="col-xs-8 col-sm-4 control-label">
					Available duration for splitting:
				</label>
				<div class="col-xs-8 col-sm-8">
					<p class="form-control-static" data-bind="text: Duration"></p>
				</div>
			</div>

			<div class="row form-group" data-bind="css:{'has-error text-danger': +Remainder() !== 0}">
				<label class="col-xs-8 col-sm-4 control-label">
					Remainder after division:
				</label>
				<div class="col-xs-8 col-sm-8">
					<p class="form-control-static" data-bind="text: Remainder"></p>
				</div>
			</div>

			<div class="row form-group">
				<label class="col-xs-8 col-sm-4 control-label">
					Split by:
				</label>
				<div class="col-xs-8 col-sm-6">
					<label class="radio-inline">
						<input type="radio" name="computation-method" value="yes" data-bind="checked:UseSplitCount">
						Number of intervals
					</label>
					<label class="radio-inline">
						<input type="radio" name="computation-method" value="no" data-bind="checked:UseSplitCount">
						Duration of interval
					</label>
				</div>
			</div>

			<div class="row form-group">
				<label class="col-xs-8 col-sm-4 control-label" for="lkpPeriod">
					Numver of intervals:
				</label>
				<div class="col-xs-8 col-sm-8">
					<input type="text" data-bind="numeric,value:SplitCount,valueUpdate: 'afterkeydown',attr:{'disabled':UseSplitCount()==='no'}">
				</div>
			</div>

			<div class="row form-group">
				<label class="col-xs-8 col-sm-4 control-label" for="lkpPeriod">
					Duration of single part:
				</label>
				<div class="col-xs-8 col-sm-8">
					<input type="text" data-x-type="time-interval" data-x-show-all-parts="true" data-bind="jsTimeInterval:SubitemDuration,attr:{'disabled':UseSplitCount()==='yes'}">
				</div>
			</div>

			<div class="row form-group">
				<label class="col-xs-8 col-sm-4 control-label">
					Distribute attached content:
				</label>
				<div class="col-xs-8 col-sm-8">
					<label class="checkbox">
						<input type="checkbox" data-bind="checked:CopyContents">
						Dulicate contents of the initial slot to each repetition
					</label>

					<span id="helpBlock" class="help-block">Check this button when you want to copy existing content to each timeslot of this sequence. <br/>Each copy can be edited as an independent instance.</span>
				</div>
			</div>

		<!-- BODY -->
		</div>
		<div class="modal-footer">
		<!-- FOOTER -->
			<button data-bind="click: Ok" class="btn btn-default">Append</button>
			<button data-bind="click: Cancel" class="btn btn-default">Close</button>
		<!-- FOOTER -->
		</div>
	</form>
</div><!-- /.modal-content -->