<!--dialog-layout-->
<div class="modal-content autoclose">
	<div class="modal-header">
		<button type="button" class="close metaclass-dialog-close" data-dismiss="modal" aria-label="Close"
			data-bind="click: Cancel">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
		<!-- TITLE -->
			Assign nested schedule
		<!-- TITLE -->
		</h4>
	</div>
	<form class="form form-horizontal" action="javascript:void(0)">
		<div class="modal-body container">
		<!-- BODY -->

			<div class="row form-group">
				<div class="col-xs-8 col-sm-4">
					<label for="c2" class="control-label">
						Schedules
					</label>
				</div>
				<div class="col-xs-8 col-sm-8">
				  <select id="c2" size="9" class="form-control"
						data-bind="options: lookups.senquences,
							optionsText:Label,
							optionsValue:StorageID,
							value: NestedSequencerId">
					</select>
				</div>
			</div>
<!--			<hr>

 			<div class="row form-group">
				<div class="col-xs-8 col-sm-6 col-sm-offset-6">
					<label for="c2" class="control-label">
						Set start trigger
						<input type="checkbox" data-bind="checked:CloneByReference">
					</label>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-xs-8 col-sm-4">
					<label for="c2" class="control-label">
						Start
					</label>
				</div>
				<div class="col-xs-8 col-sm-4">
				  <input type="datetime-local" data-bind="value:Offset">
				</div>
			</div>

			<div class="row form-group">
				<div class="col-xs-8 col-sm-4">
					<label for="c2" class="control-label">
						Duration
					</label>
				</div>
				<div class="col-xs-8 col-sm-4">
				  <input type="time" data-bind="jsTimeInterval:SlotDuration">

				</div>
			</div>

			<div class="row form-group">
				<div class="col-xs-8 col-sm-4">
					<label for="c2" class="control-label">
						End
					</label>
				</div>
				<div class="col-xs-8 col-sm-4">
				  <input type="datetime-local" data-bind="value:End">
				</div>
			</div>
 -->
		<!-- BODY -->
		</div>
		<div class="modal-footer">
		<!-- FOOTER -->
			<button data-bind="click: Ok" class="btn btn-default">Apply</button>
			<button data-bind="click: Cancel" class="btn btn-default">Close</button>
		<!-- FOOTER -->
		</div>
	</form>
</div><!-- /.modal-content -->