<div class="modal-content autoclose">
	<div class="modal-header">

		<button type="button" class="close metaclass-dialog-close" data-dismiss="modal" aria-label="Close"
			data-bind="click: Cancel">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
		<!-- TITLE -->
			Edit Trigger
		<!-- TITLE -->
		</h4>
	</div>

	<div class="modal-body container">
		<form class="form form-horizontal" action="javascript:void(0)">
		<div class="row form-group">
			<div class="col-xs-8 col-sm-4">
				<label class="control-label">
					Start trigger at:
				</label>
			</div>
			
			<!-- <div class="col-xs-8 col-sm-8 col-sm-offset-4"> -->

			<div class="col-xs-8 col-sm-8">
			<!-- ko if: IsAbsolute -->
				<input type="text" data-x-type="datetime" data-x-show-all-parts="true" data-bind="jsDate:Start">
			<!-- /ko -->
			<!-- ko ifnot: IsAbsolute -->
				<input type="text" data-x-type="time-interval" 
				data-x-show-all-parts="true" data-bind="jsTimeInterval:Offset">
			<!-- /ko -->
			</div>
		</div>

 		<div class="modal-footer">
		<!-- FOOTER -->
			<button data-bind="click: Ok" class="btn btn-default btn-primary">Apply</button>
			<button data-bind="click: Cancel" class="btn btn-default">Cancel</button>
		<!-- FOOTER -->
		</div>

		</form>
	</div>
</div>


