<div class="modal-content autoclose">
	<div class="modal-header">

		<button type="button" class="close metaclass-dialog-close" data-dismiss="modal" aria-label="Close"
			data-bind="click: Cancel">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
		<!-- TITLE -->
			Edit duration for <b data-bind="text:Label"></b>
		<!-- TITLE -->
		</h4>
	</div>


	<div class="modal-body container">
		<form class="form form-horizontal" action="javascript:void(0)">

		<div class="row form-group">
			<div class="col-xs-8 col-sm-4">
				<label class="control-label">
					Duration
				</label>
			</div>
			<!-- <div class="col-xs-8 col-sm-8 col-sm-offset-4"> -->
			<div class="col-xs-8 col-sm-8">
				<label class="checkbox-inline">
					<input type="checkbox" name="fixed-start"
						data-bind="checked:$data.IsDurationLocked">
					Fixed-length timeslot
				</label>
				<span class="help-block">Use this option to trim broadcasting if it longer than the duration allowed (even if some content remains for playback)<br/>Remain unchecked to allow adjust duration to assigned content</span>
			</div>
		</div>


		<!-- ko if: $data.IsDurationLocked -->
		<div class="row form-group">
			<div class="col-xs-8 col-sm-8 col-sm-offset-4">
				<input type="text" data-x-type="time-interval"
				data-x-show-all-parts="true" data-x-show-all-parts="true" data-bind="jsTimeInterval:SlotDuration">&nbsp;
			</div>
		</div>
		<!-- /ko -->

 		<div class="modal-footer">
		<!-- FOOTER -->
			<button data-bind="click: Ok" class="btn btn-default btn-primary">Apply</button>
			<button data-bind="click: Cancel" class="btn btn-default">Cancel</button>
		<!-- FOOTER -->
		</div>

		</form>
	</div>
</div>


