<div class="modal-content autoclose">
	<div class="modal-header">

		<button type="button" class="close metaclass-dialog-close" data-dismiss="modal" aria-label="Close"
			data-bind="click: Cancel">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
		<!-- TITLE -->
			Comments for "<span data-bind="text:Label">"</span>
		<!-- TITLE -->
		</h4>
	</div>


	<div class="modal-body container">
		<form class="form form-horizontal" action="javascript:void(0)">

		<div class="row form-group">
<!-- 			<div class="col-xs-8 col-sm-4">
				<label for="c2" class="control-label">
					Comment
				</label>
			</div>
 -->			<div class="col-xs-12 col-sm-12">
			  <textarea class="form-control" placeholder="Optional comments here..." 
			  	id="c2" 
			  	data-bind="value:Comment"></textarea>
			</div>
		</div> 		

 		<div class="modal-footer">
		<!-- FOOTER -->
			<button data-bind="click: Ok" class="btn btn-default btn-primary">Apply</button>
			<button data-bind="click: Cancel" class="btn btn-default">Cancel</button>
		<!-- FOOTER -->
		</div>

		</form>
	</div>
</div>


