<div class="modal-content autoclose">
	<div class="modal-header">

		<button type="button" class="close metaclass-dialog-close" data-dismiss="modal" aria-label="Close"
			data-bind="click: Cancel">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
		<!-- TITLE -->
			Schedule
		<!-- TITLE -->
		</h4>
	</div>


	<div class="modal-body container">
		<form class="form form-horizontal" action="javascript:void(0)">

		<div class="row form-group">
			<div class="col-xs-8 col-sm-4">
				<label for="c1" class="control-label">
					Name
				</label>
			</div>
			<div class="col-xs-8 col-sm-8">
			  <input type="text" class="form-control" placeholder="Name"
			  	id="c1" 
			  	data-bind="value:Label">
			</div>
		</div>

		<hr>

		<!-- <h4>Start broadcast</h4> -->

		<div class="row form-group">
			<div class="col-xs-8 col-sm-4">
				<label class="control-label">
					Start
				</label>
			</div>
			<!-- <div class="col-xs-8 col-sm-8 col-sm-offset-4"> -->
			<div class="col-xs-8 col-sm-8">
				<label class="checkbox-inline">
					<input type="checkbox" name="fixed-start" 
						data-bind="checked:$data.IsStartLocked">
					Use Trigger for Start
				</label>
				<span class="help-block">Choose this option to create a master schedule for a channel. <br/>Remain it unchecked unless your schedule would be used as a fragment of another schedule</span>
			</div>
		</div>


		<!-- ko if: $data.IsStartLocked -->
		<div class="row form-group">
<!-- 			<div class="col-xs-8 col-sm-4">
				<label for="c2" class="control-label">
					Begin at <span data-dind="text:$data.Start"></span>
				</label>
			</div>
 -->			<div class="col-xs-8 col-sm-8 col-sm-offset-4">
				<input type="text" data-x-type="datetime" data-x-show-all-parts="true" data-bind="jsDate:Start">
			</div>
		</div>
		<!-- /ko -->

		<!-- <h4>Schedule duration</h4> -->

		<div class="row form-group">
			<div class="col-xs-8 col-sm-4">
				<label class="control-label">
					Duration
				</label>
			</div>
			<!-- <div class="col-xs-8 col-sm-8 col-sm-offset-4"> -->
			<div class="col-xs-8 col-sm-8">
				<label class="checkbox-inline">
					<input type="checkbox" name="fixed-start" 
						data-bind="checked:$data.IsDurationLocked">
					Restricted
				</label>
				<span class="help-block">Broadcasting will be trimmed by duration (even if some content remains for playback)</span>
			</div>
		</div>


		<!-- ko if: $data.IsDurationLocked -->
		<div class="row form-group">
			<div class="col-xs-8 col-sm-8 col-sm-offset-4">
				<input type="text" data-x-type="time-interval" 
				data-x-show-all-parts="true" data-bind="jsTimeInterval:$data.SlotDuration">&nbsp;
				<!-- ko if: $data.Start() && $data.SlotDuration() -->
				Stop at: <span data-bind="text:$data.Start().add($data.SlotDuration()).toString()"></span>
				<!-- /ko -->
			</div>
		</div>
		<!-- /ko -->

		<hr>

		<div class="row form-group">
			<div class="col-xs-8 col-sm-4">
				<label for="c2" class="control-label">
					Comment
				</label>
			</div>
			<div class="col-xs-8 col-sm-8">
			  <textarea class="form-control" placeholder="Optional comments here..." 
			  	id="c2" 
			  	data-bind="value:Comment"></textarea>
			</div>
		</div> 		

 		<div class="modal-footer">
		<!-- FOOTER -->
			<button data-bind="click: Ok" class="btn btn-default btn-primary">Apply</button>
			<button data-bind="click: Cancel" class="btn btn-default">Cancel</button>
		<!-- FOOTER -->
		</div>

		</form>
	</div>
</div>


