/*#screen {
	z-index: 999;
}
*/

#menu {
	display: none;
}
#menu.show-menu {
	position: absolute;
	width: 70%;
	height: 70%;
	top:15%;
	left:15%;
	display: block;

	font-size: 2.5em;
	padding: 0.5em;
	z-index:1000;
	overflow: hidden;
}


#root {
	position: absolute;
	top: 20%;
	left: 20%;
	margin-top:0;
	width: 60%;
	height: 60%;
	overflow: hidden;
	/*top: 50%;*/
	opacity: 0.9;
	z-index: 100;
	font-size: 9em;
}

#root {
	display: none;
}
#root.state-trace {
	display: block;
}
/*#display {
	display: none;
}*/