/*theme.css*/

/* Using online font, better: to install locally */
/*@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');*/

#root {
	background-color: #082838;
}

#root {
	font-family: "Source Code Pro",Menlo,Consolas,Monaco,monospace;
	color: #81A9D5;
}

#menu {
	color: #fff;
	background-color: rgba(25,100,200, 0.9);
	text-align: center;
}

#menu button, #menu input {
	border-style: solid;
	border-color: white;
	border-radius: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

#menu button {
	background-color: transparent;
}
#menu input {
	background-color: #555;
}

#menu button:hover {
	background-color: rgba(25,100,200, 1);
}

#menu button:focus {
	background-color: #000;
}
