/*one-line-fixed.css*/

/* To-do: find narrow font; make */

body {
	font-size:200px;
}

#root {
	white-space: nowrap; /* Hyphenation is prohibited - use one line only*/
/*	display:table-cell;
	vertical-align:middle
*/}

@media screen and (max-height : 480px) {
  #root {
    font-size: 320px;
    height: 320px;
    line-height: 320px;
    margin-top: -180px;
  }
}
@media screen and (min-height : 480px) and (max-height : 640px) {
  #root {
    font-size: 400px;
    height: 400px;
    line-height: 400px;
    margin-top: -200px;
  }
}
@media screen and (min-height : 640px) and (max-height : 768px) {
  #root {
    font-size: 600px;
    height: 600px;
    line-height: 600px;
    margin-top: -300px;
  }
}
@media screen and (min-height : 768px) and (max-height : 1024px) {
  #root {
    font-size: 800px;
    height: 800px;
    line-height: 800px;
    margin-top: -400px;
  }
}
@media screen (min-height : 1024px) and (max-height : 1280px) {
  #root {
    font-size: 1000px;
    height: 1000px;
    line-height: 1000px;
    margin-top: -500px;
  }
}

/*@media screen and (max-device-width : 1204px) {
  #root {
    font-size: 600px;
    height: 600px;
  }
}*/