/*
Display Grid
Styles for display partitioning preview control
*/

.ctrl-display-grid-preview {
	margin-left: auto;
	margin-right: auto;
	position:relative;
}

.ctrl-display-grid-preview:before,
.ctrl-display-grid-preview:after,
.ctrl-display-grid-preview div.DDA-row:before,
.ctrl-display-grid-preview div.DDA-row:after {
	content: " ",
	display: table;
}

.ctrl-display-grid-preview:after,
.ctrl-display-grid-preview div.DDA-row:after {
	clear: both;
}

.ctrl-display-grid-preview div.DDA-row{
	padding-bottom: 2px;
}

.ctrl-display-grid-preview div.DDA,
.ctrl-display-grid-preview div.DDA-splitter {
	
	float: left !important; 
	overflow: hidden;
	margin-left: 2px;
	margin-right: 2px;
	min-width: 1px;
	box-sizing: border-box;
}

.ctrl-display-grid-preview div.DDA {
	background-color: gray;
	padding: 2px;
	border: 1px solid #cccccc;
	color: #cccccc;
}

.ctrl-display-grid-preview div.DDA-splitter {
	height: 2px;
	width: 100%;
}

.ctrl-display-grid-preview div.DDA:hover,
.ctrl-display-grid-preview div.DDA.active:hover {
	border: 1px solid #ffac25;
	color: #ffffff;
}

.ctrl-display-grid-preview div.DDA.active {
	left: -1px;
	top:-1px;
	border: 2px solid #aaaaaa;
	background-color: #555555;
	color: #eeeeee;
	
	box-shadow:          2px 2px 5px 0px rgba(0, 0, 0, 0.69);
	-webkit-box-shadow:  2px 2px 5px 0px rgba(0, 0, 0, 0.69);
	-moz-box-shadow:     2px 2px 5px 0px rgba(0, 0, 0, 0.69);
}