<div>
  <div data-part="header" data-bind="html: getHeaderText()" style="text-align: center; color:#ffffff;"></div>
	<canvas id="doughnut-chart"
			width="160" height="160" style="margin-left: auto;margin-right: auto;" 
			data-bind="chart: { type: 'Pie', data: SpaceData, options: { observeChanges: true, throttle: 1000, cutoutPercentage:50 } }"></canvas>
	<div class="chart-legend" data-bind="html: legend" style="text-align: center;">???</div>
</div>

<!--
			<canvas id="some-dynamic-doughnut-chart"
					width="300" height="300"
					data-bind="chart: { type: 'Doughnut', data: SpaceData, options: { observeChanges: true, throttle: 1000 } }"></canvas>

-->