<section>
    <!-- <h2 data-bind="text: displayName"></h2> -->
	<div class='nav nav-pills'>
		<button class="btn btn-default" data-bind="click: add"><i class="fa fa-plus"></i>&nbsp;New...</button>
		<button class="btn btn-default metaclass-bulk-remove" disabled="true" data-bind="click: removeMany">
			<i class="fa fa-times"></i>&nbsp;Remove
		</button>
		<button class="btn btn-default" data-bind="click: function(){setColumns('default')}, visible:viewMode()==='simple'">
			<i class="fa fa-eye"></i>&nbsp;Advanced view
		</button>
		<button class="btn btn-default" data-bind="click: function(){setColumns('simple')}, visible:viewMode()==='default'">
			<i class="fa fa-eye"></i>&nbsp;Simple view
		</button>
		&nbsp;<span class="alert alert-info" data-bind="visible:stateLegend, html:stateLegend"></span>
	</div>
	<div class="ys-listview">
	    <table class="table table-condensed table-hover table-striped">
	    	<thead>
	    		<tr>
	    			<th><!-- placeholder for "checkbox" + glyph --></th>
	    			<!-- ko foreach: columns -->
		    		<th>
		    			<span data-bind="click:$parent.sort" role="button">
			    			<span data-bind="text:Name"></span>
			    			<i data-bind="css:sortIcon"></i>
		    			</span>
		    		</th>
		    		<!-- /ko -->
		    		<th><!-- placeholder for buttons --></th>
	    		</tr>
	    	</thead>
	    	<tbody data-bind="foreach: items">
	    		<tr>
	    			<td class="nowrap">
	    			<input type="checkbox" value="0" data-bind="click:$parent.mark"/>&nbsp;<img data-bind="attr:{src:PreviewSrc,width:$root.viewMode()==='simple'?180:45}" width="45px" height="auto"/>
	    			</td>

	    			<!-- change it to StorageID later: -->
	    			<!--
	    			Thumbnail, Media Type, Label, File name, MME Type, size, date create, date mod, used, comment.
	    			-->
		            <td>
		            <span data-bind="html:IconForMedia"></span>&nbsp;<span data-bind="text:MediaType"></span>
		            </td>
		            <td data-bind="text:Label"></td>
		            <!-- ko if: $root.viewMode()==='default' -->
		            <td data-bind="text:FileName" class="ellipsis"></td>
		            <td data-bind="text:MimeType"></td>
		            <!-- /ko -->
		            <td data-bind="text:fmtFileSize"></td>
		            <!-- ko if: $root.viewMode()==='default' -->
		            <td data-bind="text:CreatedTime"></td>
		            <td data-bind="text:ModifiedTime"></td>
		            <td data-bind="text:LockCount"></td>
		            <!-- /ko -->
		            <td data-bind="text:Comment" class="ellipsis"></td>

		            <!-- <td data-bind="text:displayStorageID()" class="ellipsis"></td> -->



			    	<td class="nowrap">
			    		<!-- ROW BUTTONS -->
			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.edit"><i class="fa fa-wrench"></i>
			    		<span class="ws-tooltip">Properties...</span>
			    		</button>

			    		<!-- <button class="btn btn-default btn-xs" data-bind="click:$parent.compose"><i class="fa fa-edit"></i></button> -->

			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.remove"><i class="fa fa-times"></i>
			    		<span class="ws-tooltip">Remove</span>
			    		</button>

			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.details"><i class="fa fa-info-circle"></i>
			    		<span class="ws-tooltip">Info</span>
			    		</button>
			    		<!-- ROW BUTTONS -->
			    	</td>
	    		</tr>
	    	</tbody>
	    </table>
	</div>
</section>
