<section>
    <!-- <h2 data-bind="text:displayName"></h2> -->
    <!-- <blockquote data-bind="text:description"></blockquote> -->
    <div class="container" data-bind="map-widget: {headerProperty:'<b>Your Devices</b>'}"></div>
    <div style="position:fixed;width: 200px;height: 300px;top: 100px; right:50px;overflow: hidden;background-color: rgba(0,0,0,0.5); border-radius: 10px;padding: 20px;" data-bind="piechart-widget: {headerProperty:'<b>Your Storage</b>'}"></div>

<!--     <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
              <div class="panel-body">
                <div data-bind="map-widget: {headerProperty:'<b>Your Devices</b>'}"></div>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default">
              <div class="panel-body">
                <div data-bind="piechart-widget: {headerProperty:'<b>Your Storage</b>'}"></div>
              </div>
          </div>
        </div>
      </div>
    </div>
 --></section>