<section>
    <!-- <h2 data-bind="text: displayName"></h2> -->
	<div class='nav nav-pills'>
		<button class="btn btn-default" data-bind="click: add"><i class="fa fa-plus"></i>&nbsp;New...</button>
		<button class="btn btn-default metaclass-bulk-remove" disabled="true" data-bind="click: removeMany">
			<i class="fa fa-times"></i>&nbsp;Remove
		</button>
		<span data-bind="html:stateLegend()"></span>
	</div>
	<div class="ys-listview">
	    <table class="table table-condensed table-hover table-striped">
	    	<thead>
	    		<tr>
	    			<th><!-- placeholder for "checkbox" --></th>
	    			<!-- ko foreach: columns -->
		    		<th>
		    			<span data-bind="click:$parent.sort" role="button">
			    			<span data-bind="text:Name"></span>
			    			<i data-bind="css:sortIcon"></i>
		    			</span>
		    		</th>
		    		<!-- /ko -->
		    		<th><!-- placeholder for buttons --></th>
	    		</tr>
	    	</thead>
	    	<tbody data-bind="foreach: items">
	    		<tr>
	    			<td><input type="checkbox" value="0" data-bind="click:$parent.mark"/></td>
	    			<!-- change it to StorageID later: -->

<!--
            {name:'Label'},
            {name: 'Resolution'},
            {name: 'Browser'},
            {name:'Created', sortBy:'CreatedTime'},
            {name: 'Address'},
            {name:'Linked Channel', sortBy: 'ChannelLabel'},

            {name:'Device ID', sortBy:'fmtShortId'},
            {name:'Hardware ID', sortBy: 'fmtLinkedGear'},
            {name:'Comment'}

-->
	    			<td data-bind="text:Label, click:$parent.details"></td>
	    			<td data-bind="text:Resolution"></td>
	    			<td data-bind="text:Browser"></td>
			    	<td data-bind="text:CreatedTime"></td>
	    			<td data-bind="text:Address,click:$parent.showOnMap"></td>
	    			<td data-bind="text:ChannelLabel, click:$parent.details"></td>
	    			<td data-bind="text:fmtShortId()"></td>
	    			<!-- fmtLinkedGear -->
	    			<td data-bind="text:fmtLinkedGear, click:$parent.details"></td>
			    	<td data-bind="text:Comment"></td>
			    	<td>
			    		<!-- ROW BUTTONS -->
			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.edit"><i class="fa fa-wrench"></i>
			    		<span class="ws-tooltip">Settings</span>
			    		</button>
			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.assignChannel"><i class="fa fa-plug"></i>
			    		<span class="ws-tooltip">Channel</span>
			    		</button>
			    		<!-- linkToHardware -->
			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.linkToHardware"><i class="fa fa-tv"></i>
			    		<span class="ws-tooltip">Hardware binding</span>
			    		</button>
			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.pointLocation"><i class="fa fa-map-marker"></i>
			    		<span class="ws-tooltip">Point on map</span>
			    		</button>
			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.remove"><i class="fa fa-times"></i>
			    		<span class="ws-tooltip">Remove</span>
			    		</button>
			    		<!-- <button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.details"><i class="fa fa-info-circle"></i><span class="ws-tooltip">Info</span></button> -->

			    		<!-- ROW BUTTONS -->
			    	</td>
	    		</tr>
	    	</tbody>
	    </table>
	</div>

<!--     <div class="row" data-bind="foreach: columns">
    	<div><i data-bind="css:sortClass"></i><span data-bind="text:Name;click:sort"></span></div>
    </div>
    <div class="row" data-bind="foreach: items">
    	<div class="col-sm-3"><a href="" data-bind="text:Label, click:$parent.details"></a></div>
    	<div class="col-sm-3" data-bind="text:Date"></div>
    	<div class="col-sm-3" data-bind="text:Comment"></div>
    	<div class="col-sm-3">
    		<i class="fa fa-edit" data-bind="click:$parent.edit"></i>
    		<i class="fa fa-remove" data-bind="click:$parent.remove"></i>
    		<i class="fa fa-info-circle" data-bind="click:$parent.details"></i>
    	</div>
    </div>
 --></section>