<div class="modal-content autoclose">
	<div class="modal-header">
		<h3>Sign Up</h3>
	</div>
	<div class="modal-body">
		<form class="form form-horizontal" data-bind="submit:Ok">

		<div class="alert alert-info">
			<p>This email will be used for the further logins.</p>
			<p>Provide the actual email, please, this address can be used to recover your password.</p>
		</div>
		<div class="row form-group">
			<div class="col-xs-8 col-sm-4">
				<label for="login-username" class="control-label">
					e-mail
				</label>
			</div>
			<div class="col-xs-8 col-sm-8">
			  <input type="email" class="form-control autofocus" placeholder="e-mail"
			  	id="email" 
			  	data-bind="value:email"
			  	autofocus="">
			</div>
		</div>

		<div class="row form-group">
			<div class="col-xs-8 col-sm-4">
				<label for="c2" class="control-label">
					Password
				</label>
			</div>
			<div class="col-xs-8 col-sm-8">
			  <input type="password" class="form-control" placeholder="Password"
			  	id="c2" 
			  	data-bind="value:password">
			</div>
		</div>

		<div class="row form-group">
			<div class="col-xs-8 col-sm-4">
				<label for="c2" class="control-label">
					Confirm Password
				</label>
			</div>
			<div class="col-xs-8 col-sm-8">
			  <input type="password" class="form-control" placeholder="Password"
			  	id="c2" 
			  	data-bind="value:passwordConfirmation">
			</div>
		</div>

 		<div class="modal-footer">
		<!-- FOOTER -->
			<button data-bind="click: Ok" type="submit" class="btn btn-primary">Create</button>
			<button data-bind="click: Cancel" class="btn btn-default">Cancel</button>
		<!-- FOOTER -->
		</div>

		</form>
	</div>
</div>


