<!-- dlg-device-location.html -->
<div class="modal-content autoclose" style="min-height: 500px;height: 500px;">
	<div class="modal-header">

				<div class="pull-right">
			<button data-bind="click: accept" class="btn btn-default btn-primary">Apply</button>
			<button data-bind="click: cancel" class="btn btn-default">Cancel</button>

				</div>

		<h4 class="modal-title">
		<!-- TITLE -->
			Point location for "<span data-bind="text:deviceInstance.Label"></span>"
		<!-- TITLE -->

		</h4>
	</div>


	<div id="map-view" class="modal-body container">


<!-- 		<div id="map-view" style="position: absolute;top:0;left:0;width: 100%;height: 500px"></div>
 -->
<!-- 		<div class="row form-group">
			<div class="col-xs-8 col-sm-4">
				<label class="control-label">
					Duration
				</label>
			</div>
			<div class="col-xs-8 col-sm-8">
				<label class="checkbox-inline">
					<input type="checkbox" name="fixed-start"
						data-bind="checked:$data.IsDurationLocked">
					Fixed-length timeslot
				</label>
				<span class="help-block">Use this option to trim broadcasting if it longer than the duration allowed (even if some content remains for playback)<br/>Remain unchecked to allow adjust duration to assigned content</span>
			</div>
		</div>
 -->
	</div>
</div>


