<div class="modal-content autoclose">
	<div class="modal-header">
		<h3>Edit details</h3>
	</div>
	<form class="form form-horizontal">
		<div class="modal-body">


			<div class="row form-group">
				<div class="col-xs-8">
					Resource ID: 
					<span data-bind="text:StorageID()"></span>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-xs-8 col-sm-4">
					<label for="c1" class="control-label">
						Name
					</label>
				</div>
				<div class="col-xs-8 col-sm-8">
				  <input type="text" class="form-control" placeholder="Name"
				  	id="c1" 
				  	data-bind="value:Label">
				</div>
			</div>


			<div class="row form-group">
				<div class="col-xs-8 col-sm-4">
					<label for="c4" class="control-label">
						Comment
					</label>
				</div>
				<div class="col-xs-8 col-sm-8">
				  <textarea class="form-control" placeholder="Optionl comments here..." 
				  	id="c4" 
				  	data-bind="value:Comment"></textarea>
				</div>
			</div>

		</div>
 		<div class="modal-footer">
		<!-- FOOTER -->
			<button data-bind="click: Ok" class="btn btn-default btn-primary">Save changes</button>
			<button data-bind="click: Cancel" class="btn btn-default">Cancel</button>
		<!-- FOOTER -->
		</div>

		</form>
	</div>
</div>


