<!--dialog-layout-->
<div class="modal-content autoclose">
	<div class="modal-header">
		<button type="button" class="close metaclass-dialog-close" data-dismiss="modal" aria-label="Close"
			data-bind="click: Cancel">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
		<!-- TITLE -->
			Create recursive programme
		<!-- TITLE -->
		</h4>
	</div>
	<form class="form form-horizontal" action="javascript:void(0)">
		<div class="modal-body container">

		<!-- BODY -->

			<div class="row form-group">
				<div class="col-xs-8 col-sm-4">
					<label class="control-label" for="lkpPeriod">
						Repeat each:
					</label>
				</div>
				<div class="col-xs-8 col-sm-8">
						<select 
							class="form-control" 
							id="lkpPeriod" 
							data-bind="options:lookups.lkpPeriods,
										value: cmpPeriodSeconds,
										optionsText:'label',
										optionsValue:'value',
										optionsCaption: 'Exactly...', 
										valueAllowUnset:true">
						</select>
				</div>

<!-- 					<div class="row form-group">
						<label>
							<input type="radio" data-bind="value:Offset" name="period">
							Daily
						</label>
					</div>

					<div class="row form-group">
						<label>
						<input type="radio" data-bind="value:Offset" name="period">
						Weekly
						</label>
					</div>

					<div class="row form-group">
						<label>
						<input type="radio" data-bind="value:Offset" name="period">
						Exactly:
						</label>
							<input type="text" data-x-type="time-interval" data-x-show-all-parts="true" data-bind="jsTimeInterval:Period">
					</div>
 -->
 			</div>
			<div class="row form-group">
				<div class="col-xs-8 col-sm-8 col-sm-offset-4">
					<input type="text" data-x-type="time-interval" data-x-show-all-parts="true" data-bind="jsTimeInterval:Period">
				</div>


			</div>

			<hr>

			<div class="row form-group">
				<div class="col-xs-8 col-sm-4">
					<label for="c2" class="control-label">
						Times to repeat:
					</label>
				</div>
				<div class="col-xs-8 col-sm-6">
					<label class="control-label">
						<input type="checkbox" data-bind="checked:IsEndlessLoop">
						Unlimited
					</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-sm-offset-4">
					<input type="text" data-bind="value: RepeatCount, numeric, valueUpdate: 'afterkeydown', disable:IsEndlessLoop()"><!-- using "numeric" binding here together with "value" binding -->
				</div>

<!-- 				<div class="col-xs-8 col-sm-4">
				  <input type="time" data-bind="value:Duration">
				

				</div>
 -->				
			</div>

			<div class="row form-group">
				<div class="col-xs-8 col-sm-4">
					<label class="control-label" for="SlotDuration">
						Broadcasting duration
					</label>
				</div>
				<div class="col-xs-8 col-sm-8">
					<input type="text" id="SlotDuration" data-x-type="time-interval" data-x-show-all-parts="true" data-bind="jsTimeInterval:SlotDuration">
				</div>
				<div class="col-xs-8 col-sm-6 col-sm-offset-4">
					<label class="control-label">
						<input type="checkbox" data-bind="checked:IsSlotEqPeriod">
						Same as period of repetitions
					</label>
				</div>
			</div>

		<!-- BODY -->
		</div>
		<div class="modal-footer">
		<!-- FOOTER -->
			<button data-bind="click: Ok" class="btn btn-default">Append</button>
			<button data-bind="click: Cancel" class="btn btn-default">Close</button>
		<!-- FOOTER -->
		</div>
	</form>
</div><!-- /.modal-content -->