<div class="modal-content autoclose">
	<div class="modal-header">
		<h3>User details</h3>
	</div>
	
	<form class="form form-horizontal">

		<div class="modal-body">
			<div class="container">

				<section data-form-group data-glyphicon='glyphicon-email' data-feedback="true" data-event='userNameCanged'>
					<label class="col-sm-3">Account Email</label>
					<div class="col-sm-9">
						<span data-bind="text:AccountEmail" class="form-control"></span>
					</div>
				</section>

				<section data-form-group data-glyphicon='glyphicon-user' data-feedback="true" data-event='userNameCanged'>
					<label class="col-sm-3">Display Name</label>
					<div class="col-sm-9">
						<input type="text" required="true" data-bind="value:Label">
					</div>
				</section>

				<section data-form-group data-glyphicon='glyphicon-user' data-feedback="true" data-event='userNameCanged'>
					<label class="col-sm-3">First Name</label>
					<div class="col-sm-9">
						<input type="text" data-bind="value:FirstName">
					</div>
				</section>

				<section data-form-group data-glyphicon='glyphicon-user' data-feedback="true" data-event='userNameCanged'>
					<label class="col-sm-3">Last Name</label>
					<div class="col-sm-9">
						<input type="text" data-bind="value:LastName">
					</div>
				</section>

				<section data-form-group data-group-addon='@' data-feedback="true">
					<label class="col-sm-3">Contact Email</label>
					<div class="col-sm-9">
						<input type="text" data-bind="value:ContactEmail" data-inputmask-alias="e-mail">
					</div>
				</section>

				<section data-form-group data-glyphicon='fa-phone' data-feedback="true">
					<label class="col-sm-3">Contact Phone</label>
					<div class="col-sm-9">
						<input type="text" data-bind="value:ContactPhone">
					</div>
				</section>

				<section data-form-group data-glyphicon='fa-map-marker' data-feedback="true">
					<label class="col-sm-3">Billing Address</label>
					<div class="col-sm-9">
						<textarea data-bind="value:BillingAddress"></textarea>
					</div>
				</section>

				<section data-form-group data-glyphicon='fa-sticky-note' data-feedback="true">
					<label class="col-sm-3">Comment</label>
					<div class="col-sm-9">
						<textarea data-bind="value:Comment"></textarea>
					</div>
				</section>

				<section data-form-group data-glyphicon='fa-sticky-note' data-feedback="true">
					<label class="col-sm-3">Space Quota</label>
					<div class="col-sm-9">
						<select data-bind="options:lookups.QuotaList, optionsText:'label', optionsValue:'value', value:SpaceQuota"></select>
					</div>
				</section>

				<section data-form-group>
					<div class="col-sm-offset-3 col-sm-9">
						<label>
							<input type="checkbox" data-bind="checked:IsAdmin"/>
							 Has Admin priveleges <i class="fa fa-certificate"></i>
						</label>
					</div>
				</section>

				<section data-form-group>
					<div class="col-sm-offset-3 col-sm-9">
						<label>
							<input type="checkbox" data-bind="checked:IsLocked"/>
							 Is Locked <i class="fa fa-lock"></i>
						 </label>
					</div>
				</section>


				<!-- QuoteList -->
			
			</div>
		</div>

 		<div class="modal-footer">
		<!-- FOOTER -->
			<button data-bind="click: Ok" class="btn btn-default btn-primary">Save changes</button>
			<button data-bind="click: Cancel" class="btn btn-default">Cancel</button>
		<!-- FOOTER -->
		</div>

	</form>
</div>


