<!--dialog-layout-->
<div class="modal-content autoclose">
	<div class="modal-header">
		<button type="button" class="close metaclass-dialog-close" data-dismiss="modal" aria-label="Close"
			data-bind="click: Cancel">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
		<!-- TITLE -->
			Broadcastng schedule
		<!-- TITLE -->
		</h4>
	</div>
	<form class="form form-horizontal" action="javascript:void(0)">
		<div class="modal-body container">

		<!-- BODY -->

			<div class="row form-group">
				<div class="col-xs-8 col-sm-4">
					<label class="control-label">
						Target chanel:
					</label>
				</div>
				<div class="col-xs-8 col-sm-8">
					<p class="form-control-static" data-bind="text: ChannelLabel"></p>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-xs-8 col-sm-4">
					<label class="control-label" for="lkpSchedules">
						Select schedule for channel:
					</label>
				</div>
				<div class="col-xs-8 col-sm-8">
						<select size="9" id="lkpSchedules"
							class="form-control"
							data-bind="options:Schedules,
										value: SelectedSchedule,
										optionsText:'Label',
										optionsValue: $data,
										optionsCaption: 'Select...',
										valueAllowUnset:true">
						</select>
				</div>

 			</div>

		<!-- BODY -->
		</div>
		<div class="modal-footer">
		<!-- FOOTER -->
			<button data-bind="click: Ok" class="btn btn-default">Apply</button>
			<button data-bind="click: Cancel" class="btn btn-default">Close</button>
		<!-- FOOTER -->
		</div>
	</form>
</div><!-- /.modal-content -->