<div class="modal-content autoclose">
	<div class="modal-header">
		<h3>New Account</h3>
	</div>
	<div class="modal-body">
		<form class="form form-horizontal" data-bind="submit:Ok">


		<div class="row form-group">
			<div class="col-xs-8 col-sm-4">
				<label for="login-username" class="control-label">
					e-mail
				</label>
			</div>
			<div class="col-xs-8 col-sm-8">
			  <input type="email" class="form-control autofocus" placeholder="Username"
			  	id="email" 
			  	data-bind="value:AccountEmail"
			  	autofocus="">
			</div>
		</div>

<!-- 		<div class="row form-group">
			<div class="col-xs-8 col-sm-4">
				<label for="c2" class="control-label">
					Password
				</label>
			</div>
			<div class="col-xs-8 col-sm-8">
			  <input type="password" class="form-control" placeholder="Password"
			  	id="c2" 
			  	data-bind="value:password">
			</div>
		</div>
 -->
		<div class="row form-group">
			<div class="col-xs-12">
 			  <div class="checkbox">
				<label>
				  <input type="checkbox" data-bind="checked:IsAdmin"> Grant Admin priveleges
				</label>
			  </div>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-xs-12">
 			  <div class="checkbox">
				<label>
				  <input type="checkbox" data-bind="checked:IsLocked"> Lock&nbsp;user
				</label>
			  </div>
			</div>
		</div>

<!-- 			  <div class="checkbox">
				<label>
				  <input type="checkbox"> Remember me
				</label>
			  </div>
 -->		

 		<div class="modal-footer">
		<!-- FOOTER -->
			<button type="submit" class="btn btn-primary">Create</button>
			<button data-bind="click: Cancel" class="btn btn-default">Cancel</button>
		<!-- FOOTER -->
		</div>

		</form>
	</div>
</div>


