<!--dialog-layout-->
<div class="modal-content autoclose">
	<div class="modal-header">
		<button type="button" class="close metaclass-dialog-close" data-dismiss="modal" aria-label="Close"
			data-bind="click: Cancel">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
		<!-- TITLE -->
			Add daily timeslots
		<!-- TITLE -->
		</h4>
	</div>
	<form class="form form-horizontal" action="javascript:void(0)">
		<div class="modal-body container">
		<!-- BODY -->

			<div class="row form-group">
				<div class="col-xs-8 col-sm-6">
					<label class="control-label">
						Current Duration:
					</label>
					<p class="help-block">"Stop" which less or equal to "Start" jumps to the next day.</p>
				</div>
				<div class="col-xs-8 col-sm-6">
					<span data-bind="text:fmtDuration"></span>
				</div>
			</div>

			<hr>

			<div class="row form-group">
				<div class="col-xs-8 col-sm-6">
					<label for="c2" class="control-label">
						Start brodcasting at
					</label>
				</div>
				<div class="col-xs-8 col-sm-6">
					<input type="time" data-x-show-all-parts="true" data-bind="jsDate:Start">
				</div>
			</div>

			<div class="row form-group">
				<div class="col-xs-8 col-sm-6">
					<label class="control-label">
						Stop broadcasting at
					</label>
				</div>
				<div class="col-xs-8 col-sm-6">
					<input type="time" data-x-show-all-parts="true" data-bind="jsDate:Stop">
				</div>

			</div>

			<hr>

			<div class="row form-group">
				<div class="col-xs-8 col-sm-6 col-sm-offset-6">
					<label for="c2" class="control-label">
						Clone timeslot contents
						<input type="checkbox" data-bind="checked:CloneByReference">
					</label>
				</div>
			</div>

		<!-- BODY -->
		</div>
		<div class="modal-footer">
		<!-- FOOTER -->
			<button data-bind="click: Ok" class="btn btn-default">Append</button>
			<button data-bind="click: Cancel" class="btn btn-default">Close</button>
		<!-- FOOTER -->
		</div>
	</form>
</div><!-- /.modal-content -->