<!--dialog-layout-->
<div class="modal-content autoclose">
	<div class="modal-header">
		<button type="button" class="close metaclass-dialog-close" data-dismiss="modal" aria-label="Close"
			data-bind="click: Cancel">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
		<!-- TITLE -->
			Connect logical device to hardware instance
		<!-- TITLE -->
		</h4>
	</div>
	<form class="form form-horizontal" action="javascript:void(0)">
		<div class="modal-body container">

		<!-- BODY -->

			<div class="row form-group">
				<div class="col-xs-8 col-sm-4">
					<label class="control-label">
						Target device:
					</label>
				</div>
				<div class="col-xs-8 col-sm-8">
					<p class="form-control-static" data-bind="text: DeviceLabel"></p>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-xs-8 col-sm-4">
					<label class="control-label" for="lkpGears">
						Select hardware ID:
					</label>
				</div>
				<div class="col-xs-8 col-sm-8">
						<select size="9" id="lkpGears"
							class="form-control"
							data-bind="options:Gears,
										value: SelectedGear,
										optionsText:'LogicalID',
										optionsValue: $data,
										optionsCaption: 'Select...',
										valueAllowUnset:true">
						</select>
				</div>

 			</div>
 			<div class="row form-group">
 				<div class="col-xs-8 col-sm-4">
 					<label for="hw-link">
 						Endpoint address for playback:
 					</label>
 				</div>
 				<div class="col-xs-8 col-sm-8">
 					<p class="form-control-static" data-bind="text: document.location.origin + '/app/air/screen.html'">
 					</p>
					<span class="help-block">Select and copy this link to your browser in a playback device. This link valid for all your devices. After the player loads, use "Ctrl-Alt-M" to open Settings Menu on device</span
 				</div>
 			</div>

		<!-- BODY -->
		</div>
		<div class="modal-footer">
		<!-- FOOTER -->
			<button data-bind="click: Ok" class="btn btn-default">Apply</button>
			<button data-bind="click: Cancel" class="btn btn-default">Close</button>
		<!-- FOOTER -->
		</div>
	</form>
</div><!-- /.modal-content -->