<section id="landing">
	<h1>Hello!</h1>
	<div class="alert alert-info">
		This is a draft. This page displayed before user is signed in.
	</div>
	<div class="quote">
		yScreens - Where your message comes to life! (maybe a graphical logo instead of plain text)
	</div>

	<hr>
	
	<div>
	    <p>yScreens provides complete control of your digital message. You can manage multiple screens simultaniously and the timeline editor lets you create, edit and publish your content in just a few clicks.</p> 
	    <p>yScreens is easy to use yet extremely compitent. It's affordable and scalable to fit just your needs! Getting your message across have never been easier – and cheaper!</p>		
	</div>

	<hr>

	<section id="more">
	    More information: (To come: a more in depth introduction to the service and some information about partners/clients etc)
	</section>

	<hr>

	<a href="#" class="btn btn-primary" data-bind="click:signUp">
	    Sign Up / Activate your account
	</a>

	<hr>

	<section id="contact-us">
		<h2>Contact us:</h2>
		<p>(contact form with sender mail adress, subject and message fields)</p>
	</section> 

	<hr>

	<footer>
	    <p>(Footer)</p>
	    <p>
		    yScreens is a part of Yernst services
		    info@yscreens.com  +46(0)70-416 99 96"
	    </p>
	</footer>	
</section>