<section>
    <!-- <h2 data-bind="text: displayName"></h2> -->
	<div class='nav nav-pills'>
		<button class="btn btn-default" data-bind="click: add"><i class="fa fa-plus"></i>&nbsp;New...</button>
		<button class="btn btn-default metaclass-bulk-remove" disabled="true" data-bind="click: removeMany">
			<i class="fa fa-times"></i>&nbsp;Remove
		</button>
		<span class="alefrt alert-info" data-bind="visible:stateLegend, html:stateLegend()"></span>
	</div>
	<div class="ys-listview">
	    <table class="table table-condensed table-hover table-striped">
	    	<thead>
	    		<tr>
	    			<th><!-- placeholder for "checkbox" --></th>
	    			<!-- ko foreach: columns -->
		    		<th>
		    			<span data-bind="click:$parent.sort" role="button">
			    			<span data-bind="text:Name"></span>
			    			<i data-bind="css:sortIcon"></i>
		    			</span>
		    		</th>
		    		<!-- /ko -->
		    		<th><!-- placeholder for buttons --></th>
	    		</tr>
	    	</thead>
	    	<tbody data-bind="foreach: items">
	    		<tr>
	    			<td><input type="checkbox" value="0" data-bind="click:$parent.mark"/></td>
	    			<!-- change it to StorageID later: -->
	    			<td data-bind="text:Label, click:$parent.details"></td>
			    	<td data-bind="text:CreatedTime"></td>
			    	<td data-bind="text:Comment"></td>
	    			<td data-bind="text:fmtShortId()"></td>
			    	<td>
			    		<!-- ROW BUTTONS -->
			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.edit"><i class="fa fa-wrench"></i>
			    		<span class="ws-tooltip">Properies...</span>
			    		</button>

			    		<a href="#"  class="ws-tooltip btn btn-default btn-xs" data-bind="attr:{href:$parent.linkToComposer($data)}" target="_blank"><i class="fa fa-edit"></i>
			    		<span class="ws-tooltip">Open in Composer...</span>
			    		</a>

<!-- 			    		<button class="btn btn-default btn-xs" data-bind="click:$parent.compose"><i class="fa fa-edit"></i></button>
 -->
			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.remove"><i class="fa fa-times"></i>
			    		<span class="ws-tooltip">Remove</span>
			    		</button>

			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.details"><i class="fa fa-info-circle"></i>
			    		<span class="ws-tooltip">Info</span>
			    		</button>

			    		<!-- ROW BUTTONS -->
			    	</td>
	    		</tr>
	    	</tbody>
	    </table>
	</div>

<!--     <div class="row" data-bind="foreach: columns">
    	<div><i data-bind="css:sortClass"></i><span data-bind="text:Name;click:sort"></span></div>
    </div>
    <div class="row" data-bind="foreach: items">
    	<div class="col-sm-3"><a href="" data-bind="text:Label, click:$parent.details"></a></div>
    	<div class="col-sm-3" data-bind="text:Date"></div>
    	<div class="col-sm-3" data-bind="text:Comment"></div>
    	<div class="col-sm-3">
    		<i class="fa fa-edit" data-bind="click:$parent.edit"></i>
    		<i class="fa fa-remove" data-bind="click:$parent.remove"></i>
    		<i class="fa fa-info-circle" data-bind="click:$parent.details"></i>
    	</div>
    </div>
 --></section>