<!-- schedules.html -->
<section>
    <!-- <h2 data-bind="text: displayName"></h2> -->
	<div class='nav nav-pills'>
		<button class="btn btn-default" data-bind="click: add"><i class="fa fa-plus"></i>&nbsp;New...</button>
		<button class="btn btn-default metaclass-bulk-remove" disabled="true" data-bind="click: removeMany">
			<i class="fa fa-times"></i>&nbsp;Remove
		</button>
		<span class="alert alert-info" data-bind="visible:stateLegend, html:stateLegend()"></span>
	</div>
	<div class="ys-listview">
	    <table class="table table-condensed table-hover table-striped">
	    	<thead>
	    		<tr>
	    			<th><!-- placeholder for "checkbox" --></th>
	    			<!-- ko foreach: columns -->
		    		<th>
		    			<span data-bind="click:$parent.sort" role="button">
			    			<span data-bind="text:Name"></span>
			    			<i data-bind="css:sortIcon"></i>
		    			</span>
		    		</th>
		    		<!-- /ko -->
		    		<th><!-- placeholder for buttons --></th>
	    		</tr>
	    	</thead>
	    	<tbody data-bind="foreach: items">
	    		<tr>
	    			<td><input type="checkbox" value="0" data-bind="click:$parent.mark"/></td>
	    			<td data-bind="text:Label, click:$parent.details"></td>
			    	<td>
			    		<span data-bind="text:Start"></span>
			    		<!-- ko if: IsStartLocked-->
			    		<i class="fa fa-lock"></i>
			    		<!-- /ko -->
			    	</td>
			    	<td>
			    		<span data-bind="text:RequiredDuration"></span>
			    		<!-- ko if: IsDurationLocked-->
			    		<i class="fa fa-lock"></i>
			    		<!-- /ko -->
			    	</td>
			    	<td data-bind="text:Contents" class="ellipsis"></td>
			    	<td data-bind="text:CreatedTime"></td>
			    	<td data-bind="text:ModifiedTime"></td>
			    	<td data-bind="text:Comment"></td>
			    	<td>
			    		<!-- ROW BUTTONS -->
			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.edit"><i class="fa fa-wrench"></i>
			    		<span class="ws-tooltip">Properties</span>
			    		</button>

			    		<a href="#"  class="ws-tooltip btn btn-default btn-xs" data-bind="attr:{href:$parent.linkToScheduleAssistant($data)}" target="_self"><i class="fa fa-edit"></i>
			    		<span class="ws-tooltip">Open in Schedule Assistant</span>
			    		</a>

			    		<a href="#"  class="ws-tooltip btn btn-default btn-xs" data-bind="attr:{href:$parent.linkToScheduleEditor($data)}" target="_self"><i class="fa fa-edit"></i>
			    		<span class="ws-tooltip">Open in Schedule Editor</span>
			    		</a>

			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.remove"><i class="fa fa-times"></i>
			    		<span class="ws-tooltip">Remove</span>
			    		</button>

			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.details"><i class="fa fa-info-circle"></i>
			    		<span class="ws-tooltip">Info</span>
			    		</button>

			    		<!-- ROW BUTTONS -->
			    	</td>
	    		</tr>
	    	</tbody>
	    </table>
	</div>

</section>