<!--shedule-editor.html-->
<section>
	<div class='nav nav-pills'>


		<!-- settings bar -->
		<form class="navbar-form" action="javascript:void(0)">

			<a href="javascript:void(0)" class="btn btn-default btn-sm" data-bind="click:createNew"><i class="fa fa-file"></i>&nbsp;New</a>
			<a href="javascript:void(0)" class="btn btn-default btn-sm" data-bind="click:save, attr:{disabled:!$root.Changed()}"><i class="fa fa-floppy-o"></i>&nbsp;Save</a>
			<a href="javascript:void(0)" class="btn btn-default btn-sm" data-bind="click:publish"><i class="fa fa-film"></i>&nbsp;Render</a>
			<a href="javascript:void(0)" class="btn btn-default btn-sm" data-bind="click:closeEditor"><i class="fa fa-level-up"></i>&nbsp;Close</a>
			<a class="btn btn-default btn-sm" data-bind="attr:{'href':linkToPreview}" target="_blank"><i class="fa fa-hourglass"></i>&nbsp;Preview...</a>
			<div style="display:inline-block; width: 1em; heigth:100%; border-left: 1px solid grey;"></div>

			<span class="dropdown">
			  <a class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Convert to...
			    <span class="caret"></span>
				</a>
				<!-- DROPDOWN MENU -->
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

				    <li >
					    <a href="javascript:void(0)"
					    	data-bind="click:function(){$root.sequencer().SequenceRange('DAY')}">
					    	<i class="fa" data-bind="css:$root.sequencer().SequenceRange() === 'DAY' ?'fa-check':''"></i>
					    	&nbsp;Day schedule (0:00-23:59)
					    </a>
				    </li><!-- DAY -->

				    <li >
					    <a href="javascript:void(0)"
					    	data-bind="click:function(){$root.sequencer().SequenceRange('WEEK')}">
					    	<i class="fa" data-bind="css:$root.sequencer().SequenceRange() === 'WEEK' ?'fa-check':''"></i>
					    	&nbsp;Week schedule (Sun-Sat)
					    </a>
				    </li><!-- WEEK -->

				    <li >
					    <a href="javascript:void(0)"
					    	data-bind="click:function(){$root.sequencer().SequenceRange('DATE')}">
					    	<i class="fa" data-bind="css:$root.sequencer().SequenceRange() === 'DATE' ?'fa-check':''"></i>
					    	&nbsp;Calendar schedule (Date)
					    </a>
				    </li><!-- WEEK -->

				    <li >
					    <a href="javascript:void(0)"
					    	data-bind="click:function(){$root.sequencer().SequenceRange('ORDERED')}">
					    	<i class="fa" data-bind="css:$root.sequencer().SequenceRange() === 'ORDERED' ?'fa-check':'fa-square'"></i>
					    	&nbsp;Ordered sequence (Playlist)
					    </a>
				    </li><!-- WEEK -->

				</ul>

			  <!-- DROPDOWN MENU -->
			</span>


	 		<a href="javascript:void(0)" class="btn btn-default btn-sm" data-bind="click:addPlaylist">
	 			<i class="fa fa-plus"></i>&nbsp;Add programme...
	 		</a>

	 		<a href="javascript:void(0)" class="btn btn-default btn-sm" data-bind="click:addSequncer">
	 			<i class="fa fa-plus"></i>&nbsp;Insert schedule...
	 		</a>

	 		<!-- <a class="btn btn-default btn-sm" data-bind="click:add"><i class="fa fa-plus"></i>&nbsp;Append...</a> -->
			<a href="javascript:void(0)" class="btn btn-default btn-sm" data-bind="click:removeMany,attr:{disabled:$root.markedItems().length==0?true:null}">
				<i class="fa fa-times"></i>&nbsp;Remove
			</a>


			&nbsp;<span data-bind="html:stateLegend,visible:stateLegend" class="alert alert-info"></span>

		</form>
		<!-- settings bar (end) -->

	</div>

	<div data-bind="text:$root.sequencer().SequenceRange"></div>

	<h3 data-bind="clickToEdit:$root.sequencer().Label"></h3>

	<!-- ko if: $root.sequencer().SequenceRange() === 'ORDERED' -->
	<div id="sequencer-script" class="container" data-bind="sortable: { template: 'template-sequencer-script-item', data: $root.sequencer().Items, options: $root.sortableElementOptions}">
	...
	</div>
	<!-- /ko -->

	<!-- ko ifnot: $root.sequencer().SequenceRange() === 'ORDERED' -->
	<div id="sequencer-script" class="container" data-bind="template: { name: 'template-sequencer-script-item', foreach: $root.sequencer().Items}">
	...
	</div>
	<!-- /ko -->

	<!-- ***************************************** -->

	<template id="template-sequencer-script-item">
		<div class="sequencer-script-item">

			<div class="sort-handle" data-bind="visible:$root.sequencer().SequenceRange() === 'ORDERED'">
				<a href="javascript:void(0)" style="display: block; width: 100%;height: 100%">
					<i class="fa fa-arrows-v "></i>
				</a>
			</div>
			<div >
					<span>PLAYLIST</span>
					<!-- ko if: $data.hasNestedSequencer-->
					<a href="javascript:void(0)" data-bind="text:$root.fmtRecordLegend($data),attr:{href:'#schedule-assistant/'+$data.RecordInfo().StorageID()}"></a>
					<!-- /ko -->
					<!-- ko ifnot: $data.hasNestedSequencer-->
					<span data-bind="text:$root.fmtContentLegend($data)"></span>
					<!-- /ko -->

					<span class="dropdown" >
					  <a href="javascript:void(0)" class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    <i class="fa fa-ellipsis-v"></i>
					    <span class="caret"></span>
					  </a>
					  <!-- DROPDOWN MENU -->
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

							    <li >
								    <a href="javascript:void(0)"
								    	data-bind="click:$root.assignPlaylist">
								    	<i class="fa"></i>
								    	&nbsp;Assign playlist...
								    </a>
							    </li><!-- assignPlayback -->

							    <li >
								    <a href="javascript:void(0)"
								    	data-bind="click:$root.assignSequencer">
								    	<i class="fa"></i>
								    	&nbsp;Assign nested schedule...
								    </a>
							    </li><!-- assignPlayback -->
							</ul>

					</span>

					<!--
					<a class="ws-tooltip" href="javascript:void(0)" data-bind="click:$root.assignPlayback"><i class="fa fa-pencil"></i>
					<span class="ws-tooltip">Change content...</span>
					</a>
					-->

				<hr>
				<div class="form-inline">
					<span>TRIGGER</span>

					<div class="form-group">
					<!-- ko if: $root.sequencer().SequenceRange() === 'DAY' -->
						<label> Every day:</label>
					<!-- /ko -->
					<!-- ko if: $root.sequencer().SequenceRange() === 'WEEK' -->
						<label> Day/time:</label>
					<!-- /ko -->
					<!-- ko if: $root.sequencer().SequenceRange() === 'DATE' -->
						<label> Date/Time:</label>
					<!-- /ko -->

						<input type="text" data-x-type="date"
						data-x-show-all-parts="false"
						data-bind="jsDate:$data.DateTime,
							visible:$root.sequencer().SequenceRange() === 'DATE'"
						class="form-control">

						<select data-bind="options: $root.DAYS,
							optionsText:'label',
							optionsValue:'value',
							value: DayOfWeek,
							visible:$root.sequencer().SequenceRange() === 'WEEK'"
						class="form-control"></select>:&nbsp;

						<input type="text" data-x-type="time"
						data-x-show-all-parts="false"
						data-bind="jsDate:$data.Time,
							hidden:$root.sequencer().SequenceRange() === 'ORDERED'"
						class="form-control">

					</div>
					<label>
						BEHAVIOUR:

						<span data-bind="text:$data.fmtTriggerAction"></span>
					</label>
				</div>

			</div>

			<div style="vertical-align: top;">
				<a href="javascript:void(0)" data-bind="click:$root.remove"><i class="fa fa-times"></i></a>
			</div>
		</div>
	</template>

</section>



