<!--shedule-editor.html-->
<section>
	<div class='nav nav-pills'>


					<!-- settings bar -->
					<form class="navbar-form">



		<button class="btn btn-default btn-sm" data-bind="click:save, attr:{disabled:!$root.Changed()}"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
		<button class="btn btn-default btn-sm" data-bind="click:publish"><i class="fa fa-film"></i>&nbsp;Render</button>
		<button class="btn btn-default btn-sm" data-bind="click:closeEditor"><i class="fa fa-level-up"></i>&nbsp;Close</button>
		<a class="btn btn-default btn-sm" data-bind="attr:{'href':linkToPreview}" target="_blank"><i class="fa fa-hourglass"></i>&nbsp;Preview...</a>


 		<!-- <button class="btn btn-default" data-bind="click:add"><i class="fa fa-plus"></i>&nbsp;Append...</button> -->
<!--		<button class="btn btn-default btn-sm" data-bind="click:removeMany,attr:{disabled:$root.markedItems().length==0?true:null}">
			<i class="fa fa-times"></i>&nbsp;Remove
		</button>
 -->
						<div class="form-group form-group-sm" data-bind="if:$root.schedule.IsAbsolute">
							<label class="control-label" for="lkpTimeBinding">Time</label>
							<select class="form-control" id="lkpTimeBinding" data-bind="options:$root.lkpTimeBinding,value:$root.TimeBinding">
							</select>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label" for="lkpTimeUnits">Units</label>
							<select id="lkpTimeUnits" class="form-control" data-bind="options:$root.lkpTimeUnits,value:$root.TimeUnits">
							</select>
						</div>

						<!-- ko if: $root.TimeBinding() === 'Relative'-->
						<div class="form-group form-group-sm">
							<label class="control-label" for="lkpWindowOffset">Offset</label>
							<select id="lkpWindowOffset" class="form-control" data-bind="options:$root.lkpWindowOffset,optionsText:'label',optionsValue:'value',value:$root.VpOffsetMsStr">
							</select>
						</div>
						<!-- /ko -->

						<!-- ko if: $root.TimeBinding() === 'Absolute'-->
						<div class="form-group form-group-sm">
							<label class="control-label" for="lkpWindowStart">Start</label>
							<!-- ko if: $root.TimeUnits() === 'Hours' -->
							<input type="text" data-x-type="time" data-bind="jsDate:$root.ViewportStart"  class="form-control">
							<!-- /ko -->
							<!-- ko if: $root.TimeUnits() === 'Days' || $root.TimeUnits() === 'Days of Week' -->
							<input type="text" data-x-type="datetime" data-bind="jsDate:$root.ViewportStart"  class="form-control">
							<!-- /ko -->
							<!-- ko if: $root.TimeUnits() === 'Months' || $root.TimeUnits() === 'Weeks' -->
							<input type="text" data-x-type="date" data-bind="jsDate:$root.ViewportStart"  class="form-control">
							<!-- /ko -->
						</div>
						<!-- /ko -->

						<div class="form-group form-group-sm">
							<label class="control-label" for="lkpWindowDuration">Extents</label>
							<select id="lkpWindowDuration" class="form-control" data-bind="options:$root.lkpWindowDuration,optionsText:'label',optionsValue:'value',value:$root.VpDurationMsStr">
							</select>
						</div>


		&nbsp;<span data-bind="html:stateLegend,visible:stateLegend" class="alert alert-info"></span>

					</form>
					<!-- settings bar (end) -->

	</div>

	<div id="timetable" class="timetable">
		<aside>
			<div class="record-interior schedule-info">
				<span>
					Duration: <span class="badge" data-bind="text:$root.schedule.fmtDuration"></span> 
				</span>
<!-- 				<span>
					Records: <span class="badge" data-bind="text:$root.schedule.Items().length"></span>
				</span>
 -->			</div>
			<!-- <ul data-bind="sortable: { template: 'timeNode', data: schedule.Items, options: $root.sortableElementOptions }"></ul> -->
			<ul data-bind="template: { name: 'timeNode', data: $root.schedule }"></ul>
		</aside>
		<section>
			<time>
				<header>
					<section style="display: none" data-bind="text:$root.TimeDomainLabels().join(',')"></section>
					<ul class="room-treeview" data-bind="foreach:{data:$root.TimeDomainLabels, as: 'datetime'}">
						<li>
							<span class="time-label" data-bind="text:datetime"></span>
						</li>
					</ul>
				</header>

				<!-- <ul class="room-timeline" data-bind="template: { name: 'timeLines', foreach: $root.schedule.Items }"></ul> -->
				<ul class="room-timeline" data-bind="template: { name: 'timeLines', data: $root.schedule }"></ul>

<!-- 				<ul class="room-timeline" data-bind="foreach:{data:$root.screenProjections, as:'item'}">
					<li>
						<div class="time-entry content" 
						data-bind="attr:item.attributes, 
							resizable:{animate: false, ghost: false, handles:{'e':'.resize-handle.ui-resizable-e','w':'.resize-handle.ui-resizable-w'}, start: $root.handleStartResize, resize: $root.handleResize, stop: $root.handleResizeComplete, distance: 1}">
							<div class="ui-resizable-handle ui-resizable-w resize-handle"></div>
							<div class="whitespace"></div>
							<div class="ui-resizable-handle ui-resizable-e resize-handle"></div>
						</div>
					</li>
				</ul>
 -->			</time>
		</section>




	</div>
</section>


<!-- TreeView for Schedule: -->
<template id="timeNode">
	<li class="record" data-bind="css:($data.Items) ? 'tree-node':'tree-item'">
		<div data-bind="css:{
				'chart-item-duration-locked': $data.IsDurationLocked,
				'chart-item-offset-locked': $data.IsOffsetLocked,
				'chart-item-clone': $data.IsClone,
				'chart-item-recursive': $data.IsRecursive,
				'chart-item-sortable': $data.IsSortable
		}">
			<div class="record-interior">
			<!-- ko if: $data.IsSortable-->
				<div class="sort-handle">
					<a href="javascript:void(0)" style="display: inline-block; width: 100%;height: 100%">
						<i class="fa fa-arrows-v "></i>
					</a>
				</div>
			<!-- /ko -->
		  	<div class="caption">

				  <!-- ko if: $data.Items -->
		  		<a href="javascript:void(0)" data-bind="click:$data.toggleExpanded">
		  			<i class="fa" data-bind="css:$data.ChildrenViewExpanded() ? 'fa-chevron-up':'fa-chevron-down'"></i>
		  		</a>
		  		<!-- /ko -->
				  <!-- ko ifnot: $data.Items -->
				  <!-- <i class="fa fa-chevron-right"></i> -->
		  		<!-- /ko -->

					<!-- ko ifnot: $data.IsRecursive-->
					&nbsp;<span data-bind="clickToEdit:$data.Label"></span>
					<!-- /ko -->
					<!-- ko if: $data.IsRecursive-->
					&nbsp;<span data-bind="text:$data.Label"></span>
					<a class="ws-tooltip" href="javascript:void(0)">
						&nbsp;<span><i class="fa fa-clone"></i></span>
						<span class="ws-tooltip" data-bind="text:$data.TemplateItemId"></span>
					</a>
					<!-- /ko-->
		  	</div>
				<div class="timings">
 						<span data-bind="text:$root.fmtStartFor($data)"></span>
						<i class="fa fa-clock-o"></i>
						<br>
						<span data-bind="text:$data.fmtDuration"></span>
						<i class="fa fa-arrows-h"></i>
				</div>
		  	<div class="buttons">
		  		<!-- menu -->
					<div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    <i class="fa fa-ellipsis-v"></i>
					    <!-- <span class="caret"></span> -->
					  </button>
					  <!-- DROPDOWN MENU -->
					  <!-- ko template:{name:'item-context-menu', data:$data} -->
					  <!-- /ko -->
					</div>

		  	</div>
			</div>	
		</div>
		<!-- children -->
		<div data-bind="if:$data.Items">
			<!-- ko if: $data.ChildrenViewExpanded-->
				<ul data-bind="sortable: { template: 'timeNode', data: Items, options: $root.sortableElementOptions}, css:{'hide-children':  $data.ChildrenViewExpanded"}></ul>
			<!-- /ko -->
	  </div>
	</li>
</template>

<!-- Timeline chart [==========]: -->
<template id="timeLines">
	<li>
		<div class="duration-bar" data-bind="style:$root.attributesFor($data, 'Duration')"></div>

		<div class="remainder-bar" data-bind="style:$root.attributesFor($data, 'TimeRemainder')"></div>

		<div class="overrun-bar" data-bind="style:$root.attributesFor($data, 'TimeOverrun')"></div>


		<!-- ko if: $data.IsResizable-->
			<div class="time-entry content ui-widget-content"
			data-bind="style:$root.attributesFor($data, 'SlotDuration'), 
				resizable:{animate: false, ghost: false, handles:{'e':'.resize-handle.ui-resizable-e'}, start: $root.handleStartResize, resize: $root.handleResize, stop: $root.handleResizeComplete, distance: 1, autoHide: true},
				css:{
					'chart-item-duration-locked': $data.IsDurationLocked,
					'chart-item-offset-locked': $data.IsOffsetLocked,
					'chart-item-clone': $data.IsClone,
					'chart-item-recursive': $data.IsRecursive,
					'chart-item-sortable': $data.IsSortable,
					'chart-item-stream': !!$data.Items
				}">

<!--	Saved options:  
				resizable:{animate: false, ghost: false, handles:{'e':'.resize-handle.ui-resizable-e','w':'.resize-handle.ui-resizable-w'}, start: $root.handleStartResize, resize: $root.handleResize, stop: $root.handleResizeComplete, distance: 1, autoHide: true},
-->
				<!-- <div class="ui-resizable-handle ui-resizable-w resize-handle" data-bind="visible:function(){return false}"></div> -->

				<div class="ui-resizable-handle ui-resizable-e resize-handle"></div>

				<!-- STATE INFO panel: -->
				<!-- ko template: {name: 'chart-item-state-info', data: $data}-->
				<!-- /ko -->

			</div>
		<!-- /ko -->
		<!-- ko ifnot: $data.IsResizable-->
			<div class="time-entry content"
			data-bind="style:$root.attributesFor($data, 'SlotDuration'), 
			css:{
				'chart-item-duration-locked': $data.IsDurationLocked,
				'chart-item-offset-locked': $data.IsOffsetLocked,
				'chart-item-clone': $data.IsClone,
				'chart-item-recursive': $data.IsRecursive,
				'chart-item-sortable': $data.IsSortable,
				'chart-item-stream': !!$data.Items
			}">

				<!-- STATE INFO panel: -->
				<!-- ko template: {name: 'chart-item-state-info', data: $data}-->
				<!-- /ko -->

			</div>

		<!-- /ko -->

	</li>	
		<!-- ko if: $data.Items && $data.Items().length-->
			<!-- ko if: $data.ChildrenViewExpanded-->
				<li>
					<ul style="position: relative;" data-bind="template: { name: 'timeLines', foreach: $data.Items }"></ul>
				</li>
			<!-- /ko -->
		<!-- /ko -->
</template>

<template id="chart-item-state-info">

	<div class="chart-item-state-info">

		<!-- ko if: $data.IsOffsetLocked -->
			<span class="badge ws-tooltip">
				<i class="fa fa-anchor"></i>
				<span class="ws-tooltip">Has trigger on start</span>
			</span>
		<!-- /ko -->

		<!-- ko ifnot: $data.IsResizable -->
			<span class="badge ws-tooltip">
				<i class="fa fa-lock"></i>
				<span class="ws-tooltip">Duration locked</span>
			</span>
		<!-- /ko -->

		<!-- ko if: $data.IsRecursive -->
			<span class="badge ws-tooltip">
				<i class="fa fa-repeat"></i>
				<span class="ws-tooltip">Recursive</span>
			</span>
		<!-- /ko -->

		<!-- ko if: $data.IsClone -->
			<span class="badge ws-tooltip">
				<i class="fa fa-clone"></i>
				<span class="ws-tooltip">Cloned slot</span>
			</span>
		<!-- /ko -->

		<!-- ko if: $data.RecordInfo -->
			<span class="badge ws-tooltip">
				<i class="fa fa-film"></i>
				<span class="ws-tooltip">Content: <span data-bind="text:$data.RecordInfo().Legend"></span></span>
			</span>
		<!-- /ko -->

		<section style="font-size: 8px; color:#000; width: 250px; display: none;">
			<span>Duration: <span data-bind="text:$data.Duration"></span></span>
			<span>SlotDuration: <span data-bind="text:$data.SlotDuration"></span></span>
			<span>TimeRemainder: <span data-bind="text:$data.TimeRemainder"></span></span>
			<span>TimeOverrun: <span data-bind="text:$data.TimeOverrun"></span></span>
		</section>

	</div>
</template>

<!-- MENU -->

<template id="item-context-menu">
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

  <!-- ko if: $data.Items -->

  	<!-- ko if: $data.HasTrigger-->
	    <li data-bind="css:{'disabled': $data.IsClone} ">
		    <a href="javascript:void(0)" 
		    	data-bind="click:$root.editTrigger">
		    	<i class="fa fa-anchor"></i>
		    	Edit Trigger...
		    </a>
	    </li><!-- Edit Triger for Stream -->

	    <li data-bind="css:{'disabled': $data.IsClone} ">
		    <a href="javascript:void(0)" 
		    	data-bind="click:$root.removeTrigger">
		    	<i class="fa fa-close"></i>
		    	Remove Trigger from Stream
		    </a>
	    </li><!-- Edit Triger for Stream -->

	    <li role="separator" class="divider"></li>
  	<!-- /ko -->

  	<!-- ko ifnot: $data.HasTrigger-->
	    <li data-bind="css:{'disabled': $data.IsClone} ">
		    <a href="javascript:void(0)" 
		    	data-bind="click:$root.editTrigger">
		    	<i class="fa fa-anchor"></i>
		    	Set Trigger...
		    </a>
	    </li><!-- Edit Triger for Stream -->

	    <li role="separator" class="divider"></li>
  	<!-- /ko -->

    <li data-bind="css:{'disabled': $data.IsClone} ">
	    <a href="javascript:void(0)" 
	    	data-bind="click:$data.addFrame">
	    	<i class="fa fa-file-o"></i>
	    	Add Timeslot for Playback
	    </a>
    </li><!-- Add Time Slot -->

    <li data-bind="css:{'disabled': $data.IsClone} ">
	    <a href="javascript:void(0)" 
	    	data-bind="click:$data.addStream">
	    	<i class="fa fa-files-o"></i>
	    	Add Slots Group
	    </a>
    </li><!-- Add Slots Group -->

  <!-- /ko -->
  <!-- ko if: $data._rtti === 'class:PlaybackSchedule' -->

    <li role="separator" class="divider"></li>

    <li>
	    <a href="javascript:void(0)" 
	    	data-bind="click:$root.addTriggeredStream">
	    	<i class="fa fa-anchor"></i>
	    	Add Triggered stream ...
	    </a>
	  </li><!-- Add Triggeed Stream... -->

    <li>
	    <a href="javascript:void(0)" 
	    	data-bind="click:$root.addRecursiveStream">
	    	<i class="fa fa-repeat"></i>
	    	Add Recursive Pattern...
	    </a>
	  </li><!-- Add Recursive Pattern... -->

    <li role="separator" class="divider"></li>

<!--     <li>
	    <a href="javascript:void(0)" 
	    	data-bind="click:$root.addDailyGrid">
	    	<i class="fa fa-repeat"></i>
	    	Add Daily Grid...
	    </a>
    </li>
 -->    <!-- Add Daily Grid... -->

  <!-- /ko -->

  <!-- ko ifnot: $data._rtti === 'class:PlaybackSchedule' -->

    <li data-bind="css:{'disabled': $data.IsClone} ">
    	<a href="javascript:void(0)" 
    		data-bind="click:$root.remove">
    		<i class="fa fa-times"></i>
    		Delete
    	</a>
  	</li><!-- Delete -->

    <li role="separator" class="divider"></li>
	<!-- /ko -->

  <!-- ko ifnot: $data.Items -->
    <li data-bind="css:{'disabled': $data.IsClone} ">
	    <a href="javascript:void(0)" 
	    	data-bind="click:$root.assignPlayback">
	    	<i class="fa fa-film"></i>
	    	Assign playback...
	    </a>
	  </li><!-- Assign playback -->

    <li role="separator" class="divider"></li>
	<!-- /ko -->

    <li data-bind="css:{'disabled': $data.IsClone} ">
	    <a href="javascript:void(0)" data-bind="click:$root.editDuration">
    	<i class="fa fa-hourglass"></i>
    	Duration...
	    </a>
	  </li><!-- Duration... -->

  <!-- ko ifnot: $data._rtti === 'class:PlaybackSchedule' -->

    <li data-bind="css:{'disabled': $data.IsClone } ">
	    <a href="javascript:void(0)" data-bind="click:$root.splitItem">
    	<i class="fa fa-tasks"></i>
    	Split...
	    </a>
	  </li><!-- Split... -->


    <li data-bind="css:{'disabled': $data.IsClone} ">
	    <a href="javascript:void(0)" data-bind="click:function(){$root.schedule.repeatTreeItem($data, 2*3600000, 3)}">
    	<i class="fa fa-repeat"></i>
    	Repeat...
    	<!-- add hourly, dayly, on weekday, ...-->
	    </a>
	  </li><!-- Repeat... -->

    <li role="separator" class="divider"></li>
<!-- /ko -->
  <!-- 
    <li data-bind="css:{'disabled': $data.IsClone} ">
    	<a href="javascript:void(0)">
    	<label>
    		<input type="checkbox" 
    		data-bind="disable:$data.IsClone,checked:$data.TriggerAtEnd">
    		&nbsp;Trigger when played
	    	<i class="fa fa-level-down"></i>
    	</label>
    	</a>
    </li>
 -->

<!--     <li data-bind="css:{'disabled': $data.IsClone},click:$data.toggleMovable">
    	<a href="javascript:void(0)">
    	<label>
	    	<i class="fa" data-bind="css:$data.IsMovable()?'fa-unlock':'fa-lock'"></i>&nbsp;Lock mouse move
    	</label>
    	</a>
    </li>
 -->    <!-- Lock position -->

    <li data-bind="css:{'disabled': $data.IsClone},click:$data.toggleResizable">
    	<a href="javascript:void(0)">
    	<label>
	    	<i class="fa" data-bind="css:$data.IsResizable()?'fa-unlock':'fa-lock'"></i>&nbsp;Lock mouse resize
    	</label>
    	</a>
    </li><!-- Lock duration -->

    <li role="separator" class="divider"></li>

    <li data-bind="css:{'disabled': $data.IsClone} ">
	    <a href="javascript:void(0)" 
	    	data-bind="click:$root.editComment">
	    	<i class="fa fa-wrench"></i>
	    	Comments...
	    </a>
	  </li><!-- Edit -->
  </ul>	
</template>
