<section>
    <h2 data-bind="text: displayName"></h2>


	
	<form id="user-data" class="form form-horizontal">

			<div class="container">

				<section data-form-group data-glyphicon='glyphicon-email' data-feedback="true" data-event='userNameCanged'>
					<label class="col-sm-3">Account Email</label>
					<div class="col-sm-9">
						<span data-bind="text:userData.AccountEmail" class="form-control"></span>
					</div>
				</section>

				<section data-form-group data-glyphicon='glyphicon-user' data-feedback="true" data-event='userNameCanged'>
					<label class="col-sm-3">Display Name</label>
					<div class="col-sm-9">
						<input type="text" required="true" data-bind="value:userData.Label">
					</div>
				</section>

				<section data-form-group data-glyphicon='glyphicon-user' data-feedback="true" data-event='userNameCanged'>
					<label class="col-sm-3">First Name</label>
					<div class="col-sm-9">
						<input type="text" data-bind="value:userData.FirstName">
					</div>
				</section>

				<section data-form-group data-glyphicon='glyphicon-user' data-feedback="true" data-event='userNameCanged'>
					<label class="col-sm-3">Last Name</label>
					<div class="col-sm-9">
						<input type="text" data-bind="value:userData.LastName">
					</div>
				</section>

				<section data-form-group data-group-addon='@' data-feedback="true">
					<label class="col-sm-3">Contact Email</label>
					<div class="col-sm-9">
						<input type="text" data-bind="value:userData.ContactEmail" data-inputmask-alias="e-mail">
					</div>
				</section>

				<section data-form-group data-glyphicon='fa-phone' data-feedback="true">
					<label class="col-sm-3">Contact Phone</label>
					<div class="col-sm-9">
						<input type="text" data-bind="value:userData.ContactPhone">
					</div>
				</section>

				<section data-form-group data-glyphicon='fa-map-marker' data-feedback="true">
					<label class="col-sm-3">Billing Address</label>
					<div class="col-sm-9">
						<textarea data-bind="value:userData.BillingAddress"></textarea>
					</div>
				</section>

				<!-- upload photo -->
				<section data-form-group>
<!-- 					<label class="col-sm-3">
						<img width="120px" height="auto" data-bind="attr:{src:getPhotoUrl}">
						Upload Photo
					</label>
 -->					<div class="col-sm-offset-3 col-sm-9">
						<label>Upload Photo</label><br>
						<img width="120px" height="auto" data-bind="attr:{src:userData.getPhotoUrl}" class="user-photo">
						<input type="file" name="file" data-bind="fileUpload:userData.uploadFile">
					 </div>
				</section>

				<!-- 
			<span>Select file</span>
				<input type="file" name="file" data-bind="fileUpload:uploadFile">
			</span>

				-->

				<hr>

				<button data-bind="click: updateInfo" class="btn btn-default btn-primary">Apply changes</button>

			</div>

	</form>






</section>