﻿<div>
		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle Navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand ys-top-logo" href="#">
							<img src="img/ys-toolbar-logo.png">
							<!-- <i class="fa fa-home"></i> -->
						</a>
<!-- 						<a class="navbar-brand" href="#">
							<img src="img/ys-sign-white.png" style="margin-top: -2px; margin-left: -5px;">
						</a>
 -->
 <!-- 						<a class="navbar-brand hidden-sm hidden-xs" href="#">
							<span>yScreens</span>
						</a>
 -->

 						<!-- Simple "breadcrumb" -->
<!--  						<span class="navbar-brand hidden-xs" href="#">
								<span id="pageTitle"></span>
						</span>
 -->
<!--             <ol class="breadcrumb">
							<li><a href="#">Home</a></li>
							<li class="active"><span id="pageTitle"></span></li>
						</ol>            
 -->

				<!-- ko if: $root.user -->
					<ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
						<li data-bind="css: { active: isActive }">
							<a data-bind="attr: { href: hash }">
								<span data-bind="text: title"></span>
								<i class="fa" data-bind="css: icon"></i>
							</a>
						</li>
					</ul>   
					<!-- ko if: $root.userCtx-->
						<!-- ko if: $root.userCtx().isAdmin-->
						<ul class="nav navbar-nav">
							<li>
								<a href="#accounts">
									<span>User Accounts</span>
									<i class="fa fa-users"></i>
								</a>
							</li>
						</ul>   
						<!-- /ko -->     
					<!-- /ko -->     
				<!-- /ko -->



				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--             <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
								<li data-bind="css: { active: isActive }">
										<a data-bind="attr: { href: hash }, text: title"></a>
								</li>
						</ul> -->

						<ul class="nav navbar-nav navbar-right">
								<li class="loader" data-bind="css: { active: router.isNavigating }">
										<i class="fa fa-spinner fa-spin fa-2x"></i>
								</li>
						</ul>

					<ul class="nav navbar-nav navbar-right">
						
						<!-- ko if: $root.user -->
						<li class="dropdown user-menu">
							<a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
								<!-- ko if: $root.user().photoUrl-->
									<img class="user-photo-small" data-bind="attr:{src:$root.user().photoUrl}">
								<!-- /ko -->
								<!-- ko ifnot: $root.user().photoUrl-->
									<i class="fa fa-user"></i>
								<!-- /ko -->
								<small data-bind="text:$root.user().displayName"></small> 
								<span class="caret"></span>
							</a>
							<ul id="g-account-menu" class="dropdown-menu" role="menu">
								<li><a href="#settings">My Profile</a></li>
								<li><a href="#" data-bind="click:$root.signOut"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
							</ul>
						</li>
						<!-- /ko -->
						<!-- ko ifnot: $root.user -->
						<ul class="nav navbar-nav navbar-right">
								<li>
									<a href="#" data-bind="click:signIn"><i class="fa fa-user"></i> Sign In</a>
								</li>
						</ul>

						<!-- /ko -->
					</ul>

					<!-- ko if: $root.user -->
					<form class="navbar-form navbar-right search-form" role="search" data-bind="submit:search">
							<div class="input-group">
									<input type="search" class="form-control">
									<span class="input-group-addon right"><i class="fa fa-search"></i></span>
							</div>
					</form>
					<!-- /ko -->

				</div>
		</nav>

		<!-- ko if: $root.user -->
			<div class="ws-sidebar">
				<ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
					<li data-bind="css: { active: isActive }">
						<a class="ws-tooltip" data-bind="attr: { href: hash }">
							<i class="fa" data-bind="css: icon"></i>
							<span class="ws-tooltip" data-bind="text: title"></span>
						</a>
					</li>
				</ul>        
			</div>    
		<!-- /ko -->
		<div class="page-host" data-bind="router: { transition:'entrance' }"></div>
</div>