<section>
    <!-- <h2 data-bind="text: displayName"></h2> -->
	<div class='nav nav-pills'>
		<button class="btn btn-default" data-bind="click: add"><i class="fa fa-plus"></i>&nbsp;New...</button>
<!-- 		<button class="btn btn-default metaclass-bulk-remove" disabled="true" data-bind="click: removeMany">
			<i class="fa fa-times"></i>&nbsp;Remove
		</button>
 -->		&nbsp;<span class="alert alert-info" data-bind="visible:stateLegend, html:stateLegend"></span>
	</div>
	<div class="ys-listview">
	    <table class="table table-condensed table-hover table-striped">
	    	<thead>
	    		<tr>
	    			<!-- for image -->
	    			<th>&nbsp;</th>
	    			<!-- ko foreach: columns -->
		    		<th>
		    			<span data-bind="click:$parent.sort" role="button">
			    			<span data-bind="text:Name"></span>
			    			<i data-bind="css:sortIcon"></i>
		    			</span>
		    		</th>
		    		<!-- /ko -->
		    		<th><!-- placeholder for buttons --></th>
	    		</tr>
	    	</thead>
	    	<tbody data-bind="foreach: items">
	    		<tr>
<!-- 	    			<td><input type="checkbox" value="0" data-bind="click:$parent.mark"/></td>
 -->	    			<!-- change it to StorageID later: -->

	    			<td><img width="36px" height="auto" data-bind="attr:{src:getPhotoUrl}"></td>
	    			<td data-bind="text:AccountEmail"></td>
	    			<!-- <td data-bind="text:Label"></td> -->

	    			<td data-bind="text:LastName, click:$parent.details"></td>
	    			<td data-bind="text:FirstName"></td>
	    			<td data-bind="text:ContactPhone"></td>
	    			<td data-bind="text:BillingAddress"></td>

	    			<td data-bind="html:fmtIsLocked"></td>
	    			<td data-bind="html:fmtIsAdmin"></td>

			    	<td data-bind="text:CreatedTime"></td>
			    	<td data-bind="text:ModifiedTime"></td>

			    	<td data-bind="text:fmtSpaceInfo"></td>

			    	<td data-bind="text:Comment"></td>
			    	<td>
			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.edit"><i class="fa fa-edit"></i>
			    		<span class="ws-tooltip">Properties...</span>
			    		</button>

			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.remove"><i class="fa fa-times"></i>
			    		<span class="ws-tooltip">Remove</span>
			    		</button>

			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.toggleLockUser"><i class="fa fa-lock"></i>
			    		<span class="ws-tooltip">Lock/Unlock</span>
			    		</button>

			    		<button class="ws-tooltip btn btn-default btn-xs" data-bind="click:$parent.details"><i class="fa fa-info-circle"></i>
			    		<span class="ws-tooltip">Info</span>
			    		</button>

			    	</td>
	    		</tr>
	    	</tbody>
	    </table>
	</div>

</section>